[2018-01-05 11:10] michalochman opened #1 "Provide pixi.js bunnymark benchmark"
See https://www.goodboydigital.com/pixijs/bunnymark/

[2018-01-05 11:13] michalochman opened #2 "Add standalone render method"
React Pixi Fiber should provide standalone `render` method so it can be used without `react-dom` dependency.

[2018-01-05 11:27] michalochman opened #4 "Properly package the library"
- [x] add [`scripts`](https://docs.npmjs.com/misc/scripts) to help with publishing
- [x] add [`files`](https://docs.npmjs.com/files/package.json#files) entry to `package.json`

[2018-01-05 17:18] #2 closed

[2018-01-05 17:23] michalochman opened #6 "Introduce tests"

[2018-01-06 21:19] #1 closed

[2018-01-09 15:06] congtung10t2 opened #8 "How can I use typescript for this?"
I wanna set up this for a long term project so I choose typescript. But as I see, currently it support as well for js, jsx only.

[2018-01-09 16:58] michalochman commented on #8
You would most likely need to create type definitions for your TypeScript project. I did not plan to do this yet, but it should not be too complicated to add yourself.

As a side note, this library is not production ready yet.

[2018-01-12 19:21] michalochman opened #9 "Migrating from react-pixi"
Write migration guide from [Izzimach/react-pixi](https://github.com/Izzimach/react-pixi).

[2018-01-15 18:42] SQuirreL4niner opened #10 "Cannot kick off dev server for examples"
### Description
Thanks for supporting this library as I'm fairly new to React and HTML gaming!

Using Windows 10 Pro
Installed Yarn via Chocolatey
* Also had to install Babel globally via npm to fix initial build error

Follow the instruction via readme to run examples and get error -

Module not found: Can't resolve './dist/react-pixi-fiber.development.js' in '...\fiberdemo\react-pixi-fiber\node_

[2018-01-16 08:45] michalochman commented on #10
@SQuirreL4niner thanks for reporting, turns out that there was issue with missing `dist` folder.

Please pull the latest `master` branch and retry running `yarn` or `npm install` in the repository root and then the rest of the steps.

[2018-01-16 08:45] #10 closed

[2018-01-17 10:06] tarqu1n opened #11 "Adding "react-pixi-fiber" to build via "yarn add react-pixi-fiber" fails to install."
### Description
Adding "react-pixi-fiber" to build via "yarn add react-pixi-fiber" fails to install.

### Steps to reproduce

First it failed with `'babel' is not recognized as an internal or external command.` so i installed the babel cli

After this it runs `babel src/ReactPixiFiber.js -o dist/react-pixi-fiber.development.js`

which seems to succeed, then the following error is given.

`Error: E

[2018-01-17 12:16] michalochman commented on #11
I‘ll try to sort out #4 today, because that’s the root issue.
On Wed, 17 Jan 2018 at 11:06 Matt <notifications@github.com> wrote:

[2018-01-17 17:01] #11 closed

[2018-01-17 17:07] michalochman commented on #11
@tarqu1n should work now, let me know if you have any issues.

[2018-01-17 21:57] #4 closed

[2018-01-18 09:13] michalochman opened #15 "Remove useSyncScheduling from reconciler host config"
https://github.com/michalochman/react-pixi-fiber/blob/e204bb8b2fdd8b6b15f33962db345135e758944d/src/ReactPixiFiber.js#L223

See: https://github.com/facebook/react/pull/11771/files

[2018-01-18 19:56] michalochman commented on #15
Feel free to do it. It’s completely minor issue, the linked line just needs
to be removed. There aren’t any problems related to this line being present
though.
On Thu, 18 Jan 2018 at 20:31 Brandon <notifications@github.com> wrote:

[2018-02-05 23:41] jmfirth opened #17 "Library Helpers"
Provide some additional library-level helpers to make working with this library easier.  Previous conversion is in #16.

Examples:

1. Extract `Stage.childContextTypes` for consumer use.
2. A extension of `React.Component` that provides context types ([example](https://github.com/jmfirth/react-pixi-fiber/blob/d1f8e415f33850d7c66ed0a337bd86a42707811d/src/ReactPixiFiber.js#L318-L319), [tests](https:

[2018-02-05 23:50] jmfirth commented on #17
Once #16 is merged I will submit an isolated PR for #1 in the list above.

[2018-02-06 15:10] #9 closed

[2018-02-06 15:21] michalochman commented on #8
@congtung10t2 thanks to #16 by @jmfirth you should be now able to use this library with TypeScript.

[2018-02-06 15:21] #8 closed

[2018-02-06 15:37] michalochman commented on #17
Regarding 4, the general use case would be to use `PIXI.Application`'s `ticker` and `loader` (less likely a `screen`, `renderer`, `stage` and `view`) members, so what would you say about creating specialised higher-order components or components with render props named `withTicker()`, `withLoader()`, _etc_., instead of a single `connect` function?

[2018-02-08 09:25] J00nz opened #19 "Port "CustomPixiComponent" functionality from react-pixi"
### Description
As a developers/users of the framework, it would be great if the "CustomPixiComponent" got ported to react-pixi-fiber.

### Steps to reproduce

1. Start porting your solution from react-pixi to react-pixi-fiber
2. Get annoyed that you cant use your "CustomPixiComponents".

[2018-02-08 10:18] J00nz commented on #19
https://github.com/michalochman/react-pixi-fiber/pull/20

[2018-02-08 12:57] michalochman commented on #19
Hey @J00nz, can you show me an example of such `CustomPixiComponent`?

[2018-02-08 13:37] J00nz commented on #19
When dealing with custom PIXI types, such as https://github.com/pixijs/pixi-spine or other third-party custom native PIXI components, having the ability to add custom-components and wrap its functionality is something that we've sorely needed.
If you have another way of achieving this we are of course open to suggestions...

[2018-02-08 15:50] michalochman commented on #19
Can you show me an example of how you use it in [`react-pixi`](https://github.com/Izzimach/react-pixi)? As far as I know, `CustomPIXIComponent` doesn't work in `react-pixi`, here's the issue I opened over a year ago: https://github.com/Izzimach/react-pixi/issues/72.

Aside from that, I am currently using `pixi-spine` without any need of custom component, you can just do it through regular React co

[2018-02-08 17:09] J00nz commented on #19
I would say that it works in a similar manner but provides a leaner interface, since it doesn't force the users to add unnecessary wrapper components. Plus it further simplifies the porting of existing react-pixi applications.
Plus I also added some basic resizing and ported the way react-pixi handles pixi point properties.

[2018-02-08 22:08] olivoil commented on #19
Does this work if you need a custom Container type with sub-component from react-pixi-fiber ? For example to add https://github.com/davidfig/pixi-viewport ?

[2018-02-09 08:15] J00nz commented on #19
@olivoil No, not in its current implementation, it merely functions as a glue between native pixi.js and react-pixi-fiber.

@michalochman rewriting your previous example to CustomPixiComponent:
[code]

[2018-02-09 08:19] michalochman commented on #19
@J00nz thanks, is this an implementation in react-pixi or the implementation in react-pixi-fiber using #20? Are you actually using `customDidAttach` and `customWillDetach`? I would like to properly plan development of this feature.

[2018-02-09 08:37] J00nz commented on #19
@michalochman the example works in both.
We've found it necessary to use at least `customWillDetach`, since it provides a way to do cleanup of variables etc that might exist to prevent memory leaks. `customDidAttach` we haven't used much, I just added it to https://github.com/michalochman/react-pixi-fiber/pull/20 to ensure full compatibility with existing applications.

[2018-02-09 08:51] J00nz commented on #19
[code]

[2018-02-09 12:37] michalochman commented on #19
Hey @J00nz is there a chance we can talk outside github? I've created a gitter room here: https://gitter.im/react-pixi-fiber.

[2018-02-10 18:33] michalochman commented on #15
This was done too early, it is needed in `react-reconciler@0.7.0`.

Todo: deprecate and yank `react-pixi-fiber@0.2.4`

[2018-02-14 14:27] michalochman opened #28 "Not all PIXI.Application options passed through"
It should be possible to pass all PIXI.Application options through Stage component

[2018-02-14 14:28] michalochman opened #29 "No props passed to rendered canvas"
It should be possible to pass some props to rendered `<canvas>` through Stage component

[2018-02-14 14:29] michalochman opened #30 "Renderer is never resized"
Renderer should be resized when changing width or height of `<Stage />`.

[2018-02-14 17:12] #30 closed

[2018-02-15 07:23] #29 closed

[2018-02-15 09:04] #28 closed

[2018-02-15 10:15] michalochman commented on #19
Fixed in #25

[2018-02-15 10:15] #19 closed

[2018-02-26 19:03] michalochman opened #38 "Container props passed to Stage are not applied"
### Description

Members normally passed to [`PIXI.Container`](http://pixijs.download/release/docs/PIXI.Container.html) should be consumed by `Stage` component but they aren't.

### Steps to reproduce

1. Render `<Stage scale={2} />`.
2. See that the stage is not scaled correctly.

### Additional info

- react-pixi-fiber version: 0.3.1
- React version: 16.2.0
- ReactDOM version: 16.2.0
- PixiJS ve

[2018-02-26 19:07] michalochman commented on #38
The solution would be to `applyProps` to `Stage` on `componentDidMount` and `componentDidUpdate`. However, because Stage renders both a PixiJS `Container` and DOM `canvas` we need to differentiate between props that need to apply to both. We could probably use keys from [`StagePropTypes`](https://github.com/michalochman/react-pixi-fiber/blob/838b33ff8e1afb6d9bc0791eefe538c114984d0e/src/ReactPixiFi

[2018-02-28 13:59] #38 closed

[2018-03-05 10:30] #6 closed

[2018-03-25 05:37] saricden opened #41 "Implement PixiJS onPointer__ Events"
### Feature Request

Hi there, I think a useful feature to implement in react-pixi-fiber would be to create props for the PixiJS's onPointer__ events. I don't believe this would be a particularly complex addition, just creating a new prop that passes it's callback function to both an onTouch__ and onMouse__ function.

If you're super busy, I'd be happy to take a crack at contributing a solution. T

[2018-03-25 12:33] michalochman commented on #41
Hey @saricden, would you be able to post an example usage here and what would you like to achieve? I'll give it a thought.

[2018-03-25 13:02] saricden opened #42 "Performance Issues Using setState to Create Drag/Pan?"
### Description
Is there a performant way to create a drag/pan function using React + Pixi + react-pixi-fiber?

My process is as follows:
1. Bind Stage's onMove, onStart/Down, and onEnd/Up events to my corresponding pan functions. Inside the Stage is a single Collection whose x and y are bound to the component's state.
2. The corresponding pan functions start and stop panning, and set the state's

[2018-03-25 13:33] michalochman commented on #42
Hey @saricden, unfortunately that's the slowness of `setState`.

However, this should be easy to implement panning using [davidfig/viewport](davidfig/viewport) and hooking into [Custom Components API](https://github.com/michalochman/react-pixi-fiber#custom-components).

Additionally, you can take a look at #22 which was an attempt to introduce viewport before Custom Components API was added to `re

[2018-03-25 13:38] nervestaple commented on #42
a pattern I've been using with some success is using the ticker to semi-synchronize / throttle state updates -- tracking the elapsed time in state and using sCU to only render every 16ms

[2018-03-30 15:55] michalochman opened #45 "Test ticket from Code Climate"

[2018-03-30 15:55] #45 closed

[2018-03-31 16:36] michalochman commented on #15
`react-reconciler@0.8.0` is out – removing `blocked` label

[2018-03-31 16:37] michalochman opened #46 "pass host context to finalizeInitialChildren"
Update according to facebook/react#11970

[2018-04-25 21:59] iandanforth opened #48 "[Question] - Render only on changes"
### Description

My app is hogging power. When I look at a perf recording I see constant GPU activity even when there are no state changes. I'd like to use react-pixi-fiber in such a way as it only re-renders as needed. I've tried turning off autostart, enabling the shared ticker, and calling .update() on the ticker in a few places but this is buggy and doesn't feel like the right way.

What is th

[2018-04-26 15:57] michalochman commented on #48
Hey @iandanforth, technically RPF is not asking PixiJS to re-render at all – it's the `PIXI.Application`'s ticker that calls `render()` on each frame by default.

This is not the most elegant way, but have you tried using `app` from the `context` and calling `this.context.app.render()` each time you want to update?

Take a look at this sandbox I've prepared, there are no updates until you click th

[2018-04-27 19:00] iandanforth commented on #48
Thanks @michalochman for the thought and time. The example was especially appreciated. I have implemented this and it works! There may be a better way though that I wanted to get your input on.

Currently I disable the PIXI rendering loop

[code]

And then use the render method from context as suggested. However I had the following issue. I have a list of animated components which all needed to be

[2018-05-02 08:33] michalochman commented on #48
@iandanforth I'll give it a thought, although it's not a priority for me.

The primary concern of RPF is handling updates to PixiJS scene tree, not the rendering process itself. I also think you're use-case is not that common, usually you want to animate each frame, because each frame is different, otherwise the scene is static.

If you have time, feel free to investigate and open PR.

----

Inste

[2018-05-02 22:44] iandanforth commented on #48
Thanks again! I certainly don't know what the common case is for RPF. My app is mostly static until users start interacting with it (https://iandanforth.github.io/thought-experiment/simulation) so this may apply only to me.

[2018-05-02 22:44] #48 closed

[2018-05-06 09:12] michalochman commented on #41
Closing due to inactivity

[2018-05-06 09:12] #41 closed

[2018-05-18 14:40] Fabiantjoeaon opened #52 "Context provider in render method throws element is invalid"
### Description
Passing React's new Context API Provider to the react-pixi-fiber render method throws:

_Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object._

### Steps to reproduce

I've decided to make use of React's new context API to pass the props of my stage around easily. This seemed most appropiate for me top-

[2018-05-18 16:59] #15 closed

[2018-05-18 17:00] #46 closed

[2018-05-18 17:06] michalochman commented on #52
Hey @Fabiantjoeaon, thanks for reporting this. I've updated `react-reconciler` to the latest version and it should work now with `react-pixi-fiber@0.4.5`.

[2018-05-18 17:06] #52 closed

[2018-05-19 10:06] Fabiantjoeaon commented on #52
Thanks for getting back and fixing this so quick :)
However, when I now install `react-pixi-fiber@0.4.5` I get a new error. I'll create a new issue.

[2018-05-19 10:10] Fabiantjoeaon opened #54 "Building react-pixi-fiber@0.4.5 with TypeScript throws error"
### Description
When building react-pixi-fiber with typescript there is an error in the type declarations:

`Failed to compile.

/Applications/MAMP/htdocs/relive/skyhawk-cards/node_modules/react-pixi-fiber/index.d.ts
(154,19): Cannot redeclare block-scoped variable 'CustomPIXIComponent'.`

### Steps to reproduce

I'm building with TS with the following config:

[code]

### Additional info

react-p

[2018-05-19 10:50] michalochman commented on #54
Looks like there’s an issue with TypeScript definitions which I did not
write myself. Are you using typescript? I’m not using these myself and I
was able to install 0.4.5 without any issues. I’ll investigate though.
On Sat, 19 May 2018 at 12:10 Fabian Tjoe-A-On <notifications@github.com>
wrote:

[2018-05-19 10:56] Fabiantjoeaon commented on #54
Ahh okay, yes I'm using TypeScript, the error happens in the build process which happens right after installing, should have mentioned.

Thanks, I'll also have a look myself

[2018-05-19 11:09] michalochman commented on #54
It would be great if you could fix it and submit PR :)
On Sat, 19 May 2018 at 12:56 Fabian Tjoe-A-On <notifications@github.com>
wrote:

[2018-05-19 12:49] Fabiantjoeaon commented on #54
All right, I did some research and made a PR.

When adding the CustomPIXIComponent typing under its own namespace, it fixes the issue, and my code runs without having issues regarding importing CustomPIXIComponent. I based it on this SO question:
https://stackoverflow.com/questions/40900791/cannot-redeclare-block-scoped-variable-in-unrelated-files/41975448

This is my first PR, so please tell me i

[2018-05-20 19:25] #54 closed

[2018-05-25 08:20] Fabiantjoeaon opened #57 "How to apply a mask to CustomPIXIComponent"
### Description
Hi Michal,

This is a question, I believe I can't add the question label directly.
I have been struggling with applying a mask with a CustomPIXIComponent. I have honestly no idea if this works. I thought I'd go ahead and ask you.

The following is my custom PIXI component, which renders a circle and animates along the X-axis:
[code]

Which, in my render method, looks like this:

[c

[2018-05-25 09:03] michalochman commented on #57
@Fabiantjoeaon do you want the circle to be a mask of the image? i.e. do you want the image to be circular?

[2018-05-25 09:29] michalochman commented on #57
I think in general, with masks, you have two solutions:
1. Render `<Graphics ref={maskRef} />`, take the `ref` and a apply it with a `mask` prop to other rendered component, like `<Sprite mask={maskRef} />`. This will involve two-pass rendering, so you have to `setState` or call `forceUpdate` after mount, so the ref is not null.
2. Create a custom Mask component that will do the above for you, e.g

[2018-05-25 09:39] Fabiantjoeaon commented on #57
Yes, I want the mask to be circular, like the circle has the image as a background.
I will try one of your solutions mentioned above, and let you know the results. Thanks :).

[2018-06-01 18:22] seethroughtrees opened #58 "Support typescript 2.9.x"
### Description

It appears that upgrading to v2.9 highlights a type issue:

[code]

It looks like Diff is expecting a string, but Omit is not specifying that `keyof T` should be a string.

also, incredible job with the index.d.ts.  there's a lot to learn from here!

### Steps to reproduce

1. upgrade to typescript 2.9.x

### Additional info

- react-pixi-fiber version: 0.4.6
- React version: 16.4

[2018-06-01 18:47] michalochman commented on #58
`index.d.ts` is mostly work of @jmfirth, with further changes by @HibikineKage and @Fabiantjoeaon.

I never considered using typescript, so I'll not be able to fix any issues until I learn how the typing works under the hood.

If you know how to fix it that would not break typescript versions prior to 2.9 you are very welcome to open PR.

[2018-06-01 18:51] nervestaple commented on #58
I saw this issue in another library and submitted a PR. it was pretty easy and i believe it should be backwards compatible as it's more permissive, not less? but haven't tested it.

https://github.com/router5/router5/pull/304

[2018-06-02 10:16] Epskampie commented on #58
This problem is because typescript now allows `string` `number` and `Symbol` for `keyof types` instead of just `string`, see for more info: https://blogs.msdn.microsoft.com/typescript/2018/05/31/announcing-typescript-2-9/#breaking-changes

The change that @nervestaple suggests should work.

[2018-06-02 12:15] Epskampie commented on #58
@seethroughtrees : i cannot seem to reproduce this using typescript 2.9.1 and the other versions of software you suggested. Can you share a small snippet or repo that shows the issue?

[2018-06-02 15:58] seethroughtrees commented on #58
Sorry for the delay, i've been traveling.  Thanks everyone for the input.

That does appear to be the exact change that is breaking things.  Thanks @Epskampie.  I don't have a public repo to share, but can try and put something together soon.

I originally did a very similar change to what you posted @nervestaple .  However, it wasn't enough as some other functions depend on it as well.

I'm still

[2018-06-02 16:05] seethroughtrees commented on #58
and you're right @Epskampie .  I ran your test repo, and it does compile fine.  the project I used this on, is a create-react-app.  will have to compare the compile settings later.  but definitely what you made works as expected for me as well.

[2018-06-04 17:20] seethroughtrees commented on #58
Ok, I created the same repo as @Epskampie with https://github.com/wmonk/create-react-app-typescript.  and am seeing the originally posted error.

https://github.com/seethroughtrees/test-pixi-fiber

Will try and dig into some solutions, but still open to hearing any other thoughts.

[2018-06-04 17:32] seethroughtrees commented on #58
I should also note, the above is temporarily fixed with by adding the tsconfig option `"keyofStringsOnly": true`  which obviously isn't a longterm fix.

 https://blogs.msdn.microsoft.com/typescript/2018/05/31/announcing-typescript-2-9/#breaking-changes

[2018-06-04 18:10] seethroughtrees commented on #58
Submitted a PR that appears to work as expected, but would appreciate a review from any of the maintainers familiar with typescript to confirm.

https://github.com/michalochman/react-pixi-fiber/pull/59

hope it helps.

[2018-06-10 16:38] michalochman commented on #58
Closed by #59

[2018-06-10 16:38] #58 closed

[2018-06-13 12:10] Fabiantjoeaon commented on #57
Okay, so I've tried multiple things, using both solutions you've mentioned. The problem is, it works rendering a still image using `customDisplayProps`, but all of our logic is inside `customApplyProps` (I animate all of my shapes, so the props are dynamic, as so are the positions of my shapes), and I can't seem to get it working in there. Thanks for the Codesandbox implementation btw, I tried tha

[2018-06-14 19:58] JonDum opened #62 "Async rendering"
Hey @michalochman!

First off, I'd just like to give a huge thanks for this library. I had originally been using `@inlet/react-pixi` and the performance was so bad that it'd not only crash Chrome but sometimes my entire computer.

I switched to your library which only took a few minutes and I instantly had 60fps buttery smooth goodness. So massive props!

Anyways, my use case is rendering large am

[2018-06-15 16:59] michalochman commented on #62
Hey @JonDum, thanks for your kind words.

I have not yet looked into async rendering (I guess you mean changes introduced in React 16.3+), but my advice for now would be to try to run the initial render in batches instead of rendering all your objects at once.

The other thing is that (from my experience) unless you are preloading the sprites to GPU memory, loading them there on render takes a con

[2018-06-15 17:27] JonDum commented on #62
Interesting. I'm only using `<Graphics/>` and `<Text/>` objects right now though. However, I think I remember reading that PIXI.Text uses sprites? I wonder if there's a way to batch those with react-pixi-fiber 🤔

Do you think that will actually improve the final render time though? Wouldn't the final render (with all objects instead of only a few) take the same time as it would have doing it all o

[2018-06-15 20:45] michalochman commented on #62
It would probably take longer, but since you’re starting with a narrow
viewport then there’s probably no reason to immediately render all data
points as only a subset is visible in the initial view. I’d first render
data points that are visible in the viewport, then the rest.

On Fri, 15 Jun 2018 at 19:27 Jonathan Dumaine <notifications@github.com>
wrote:

[2018-06-16 14:35] michalochman commented on #57
@Fabiantjoeaon I believe you want to mask the image with circle, so you should apply `mask` prop to `Image`, not the other way around.

[2018-06-19 04:33] liyiwei666 commented on #57
@michalochman Say you have a container at position (x, y), and mask rect at position (0, 0). when the container (x, y) == (0, 0), the mask works correctly. However, when (x, y) is not at origin, the mask does not move along.

One solution may be apply (x, y) to the Mask as well, since Mask inherits from Container. However, things gets tricky when the Container in question has parents, and more tri

[2018-06-19 07:03] michalochman commented on #57
@liyiwei666 masks are regular display objects, so you can move them around as well

[2018-06-20 11:45] rockmandash opened #63 "Feature Request: Spine support."
First of all, thank you for this wonderful library.
I never write WebGL so declarative.
I was wondering if you can help to add spine support.
This is the library: https://github.com/pixijs/pixi-spine
[code]
Something looks like this will be great, thank you!

[2018-06-20 12:44] michalochman commented on #63
Hi @rockmandash, you can add Spine support yourself using [Custom Components API](https://github.com/michalochman/react-pixi-fiber#custom-components).

[2018-06-20 13:48] rockmandash commented on #63
@michalochman Thank you!

[2018-06-20 13:48] #63 closed

[2018-06-21 07:38] wenq1 commented on #57
Use the _customDidAttach and add the mask to instance.parent, so that transforms is also applied to the mask.

[2018-06-21 07:40] wenq1 commented on #57
use _customDidAttach. Attach mask to instance.parent there, so that the transform applies to the mask. @liyiwei666

[2018-06-25 09:19] Fabiantjoeaon commented on #57
@wenq1 How would you do this? In my case, my mask is applied through props. In `customDidAttach`, I only have access to `instance`

[2018-06-26 11:18] michalochman commented on #57
@Fabiantjoeaon when you have `instance` you also have `instance.parent`

[2018-06-26 14:06] johcam12 commented on #57
@Fabiantjoeaon just as i and @michalochman said, apply addChild () to mask to instance.parent. Otherwise your mask won't respect transforms in the hierarchy.

[2018-07-09 14:47] JonasGruenwald opened #66 "[Question] Apply transform matrix to stage"
Hi,

I was just wondering if there is a way to apply a transformation matrix to the entire stage, or a specific collection.

I have a couple of components, similar to the `Rectangle` in the example, and I have a regular transformation matrix that I would like to apply to all of them, is there any way to do this?

Thanks for your work on this library!

[2018-07-09 15:40] michalochman commented on #66
Hey @JonasGruenwald, you should be able to apply a transformation matrix to any Container using [`updateTransform`](http://pixijs.download/dev/docs/PIXI.Container.html#updateTransform) method. You can do it with React `ref` API.

[2018-07-10 08:45] JonasGruenwald commented on #66
Thanks for your reply Michael,

for some reason `updateTransform` didn't do anything for me, although I made sure to convert the matrix to a valid PIXI.Transform object first.

I resorted to just setting the props for `x`, `y` and `scale` on the container for now, since I don't really need rotation or skew and I have the matrix as a prop as well, so I won't have to use the ref on every prop change

[2018-07-10 08:52] #66 closed

[2018-08-10 08:50] michalochman commented on #57
Closing due to inactivity. Please reopen if there's still an issue.

[2018-08-10 08:50] #57 closed

[2018-08-10 10:37] Fabiantjoeaon commented on #57
@michalochman that's okay. I figured it out, didn't have the time yet to post my solution here.

Like you said, using the masks as a `ref` works when my components are interactive, but I had to be sure to call `forceUpdate()` after mount.

example of one of my render methods:

[code]

[2018-08-14 11:46] slorber opened #68 "Ability to draw on canvas only when needed (no rAF ticker)"
Hi,

Currently, if I have a stage that does not change over time, the Pixi.Application will create a ticker and re-render the stage on every frame. I think it does not make much sense and that we should only re-render when the react component re-render, so that using a PureComponent stage would help prevent re-rendering a stage that does not change.

[More infos here:](http://www.html5gamedevs.com

[2018-08-14 15:00] michalochman commented on #68
Hi @slorber, thanks for reporting however this is intended behaviour by default, you are only considering the most basic case. Please see discussion in #48 which also shows some examples.

[2018-08-14 15:00] #68 closed

[2018-08-14 16:07] slorber commented on #68
Thanks @michalochman

I've found a workaround anyway

[code]

Didn't think of using the context to get access to the app, that would probably be more convenient that my current code based on refs

[2018-08-14 17:11] michalochman commented on #68
FYI You also don't need to use provided `<Stage>` component, it is available out of convenience. If you don't need react-dom at all then it's better to [render without it](https://github.com/michalochman/react-pixi-fiber#without-reactdom) by instantiating Pixi Application and setting the options there.

[2018-08-30 20:28] Eldow opened #69 "How to modify the properties of plugins ?"
Hi,

I'm pretty new to Pixi and therefore my question may be pretty dumb, but how do you manage in react-pixi-fiber to alter the default InteractionManager properties ? I would like to set another interactionFrequency.

The default interaction manager is usually located at `renderer.plugins.interaction`.

Thanks for your help,
Eld0w

[2018-08-31 07:40] Eldow commented on #69
Ok I wasn't so sure as I'm still not very familiar with the new context api. Thank you for your quick reply :)

[2018-08-31 07:55] michalochman commented on #69
FYI currently `react-pixi-fiber` is using legacy context API, not the new one.

[2018-08-31 16:50] Eldow commented on #69
I tried to modify the renderer within a `<Container />` component but it didn't triggered any changes.

Here is my main component :
[code]

And here is the beginning of my `<Map>` component, where i'm reading eventual user interactions.
[code]

Modifying the context within the component only modifies a copy of it and therefore won't work.
Is there any way to update the context given by react pixi

[2018-09-02 10:23] ironchestgames opened #70 "Rendering creates a lot of listeners (which also are leaking?)"
### Description
I created a new project with create-react-app and added the minimum reqs to get React and Pixi working together (I love react-pixi-fiber btw.) Then I use the shared ticker from the Pixi app to update a state in a React Component. This causes a lot of listeners to be created (6 per frame) and what seems to be a memory leak as the heap grows.

I tried not rendering anything and then

[2018-09-02 17:15] michalochman commented on #70
Thanks for detailed report, I’ll have a look
On Sun, 2 Sep 2018 at 12:23 Fredrik Järnbröst <notifications@github.com>
wrote:

[2018-09-02 18:59] michalochman commented on #70
I had a brief look and I can see listeners created on each render, but on my machine they rise to about 2000 and are eventually collected by garbage collector (every couple seconds) returning to normal. It looks like this only happens in development mode though. When you run production build you will not be able to reproduce it – just run `npm build` and serve contents of `build` folder to see for

[2018-09-03 06:28] ironchestgames commented on #70
Thanks for looking in to this. I'm seeing the same thing as you, no listeners adding up when built.

It could be quite inconvenient though, to have to build that often. But in my project where I encountered this first I probably do something else that causes my leaks, so it's fine with me to close this issue.

[2018-09-03 06:58] #70 closed

[2018-09-03 09:04] michalochman commented on #69
@Eldow why do you think it modifies a copy? The internal Pixi Application that is created by Stage component [is passed directly](https://github.com/michalochman/react-pixi-fiber/blob/master/src/Stage.js#L63) via context, not a copy of it.

What is it exactly that you're trying to achieve by changing `interactionFrequency`?

Also, you shouldn't be mutating it every time you render in `render`, but

[2018-09-03 09:29] Eldow commented on #69
Yes, I placed it there for the example sake.

I was trying to reduce the amount of times the mousemove event gets triggered but unfortunately it didn't seem to work that way. Even when setting it to 1000ms it kept firing the mousemove event every 10ms which is the default value.

[PIXI documentation regarding interaction frequency](http://pixijs.download/dev/docs/PIXI.interaction.InteractionManage

[2018-09-12 07:55] ShallowGreen opened #71 "Expected subtree parent to be a mounted class component. This error is likely caused by a bug in React. Please file an issue"
### Description
 Expected subtree parent to be a mounted class component. This error is likely caused by a bug in React. Please file an issue

### Steps to reproduce

1.
[code]
2.Expected subtree parent to be a mounted class component. This error is likely caused by a bug in React. Please file an issue

### Additional info

- react-pixi-fiber version: 0.4.9
- React version:16.5.0
- ReactDOM versio

[2018-09-12 08:37] michalochman commented on #71
@ShallowGreen is there a particular reason you render empty `Stage`?

[2018-09-12 08:51] michalochman commented on #71
Ok, I can see that it actually breaks with anything on React 16.5, I'll have a look

[2018-09-12 08:52] ShallowGreen commented on #71
https://codesandbox.io/s/q7oj1p0jo6
the demo can not work as well

[2018-09-12 08:57] ShallowGreen commented on #71
👍 Thanks for your reply :)

[2018-09-12 10:11] michalochman commented on #71
Seems like it's not working after this change: https://github.com/facebook/react/pull/13397

I need to update `react-reconciler` to the newest version to fix this.

[2018-09-17 08:19] michalochman opened #73 "Prepare pipeline to test with different React versions"
### Description

#71 proved that there are certain compatibility issues across different React versions. It would be good if the tests could be run against different versions of React to reduce number of regressions that might get introduced.

[2018-09-20 13:39] ironchestgames opened #74 "Rotating Bunny example crashes"
### Description
Rotating Bunny example crashes.

### Steps to reproduce

1. Click on Rotating Bunny link (https://codesandbox.io/s/q7oj1p0jo6) on github readme page
2. Expected example to work
Result:
[code]

[2018-09-20 13:49] michalochman commented on #74
Hey @ironchestgames thanks for reporting, looks like it somehow updated react to `16.5.0` which is not supported yet, see #71. I have reverted it to last working version, which is `16.4.2`

[2018-09-20 13:49] #74 closed

[2018-09-27 13:05] fbove commented on #42
Hi @michalochman, is there any example integrating pixi-viewport with react-pixi-fiber in component mode (With ReactDOM). I'm on need of dragging and zooming, and that library seems pretty nice.
Hoooking it using Custom Component API is the solution?

Any advice/example would be appreciated.

[2018-09-27 13:44] michalochman commented on #42
Hey @fbove, yes you just need to create Custom Component. We have [2 examples](https://github.com/michalochman/react-pixi-fiber/tree/13284e2aae3205f83b511aa449b4d9133f72daf3/examples/src/CustomPIXIComponentExample) available, one with `PIXI.Graphics` and one usage with children.

I originally planned to add pixi-viewport to examples but never really had time to do it.

[2018-09-27 18:06] fbove opened #75 "Q: CustomPIXIComponent, re-render when refresh props"
Hi!
I have an issue with a CustomPIXIComponent.
When my component state is refreshed, CustomPIXIComponent inside it, is not.

[code]

[code]

Probably I shouldn't expect CustomPIXIComponent to re-apply props.
Any advice on how to do this?

[2018-09-28 05:53] michalochman commented on #75
Hi @fbove, `customApplyProps` is not called unless the props change.

Could you explain what is your use case exactly so I can think understand it? In most scenarios it makes no sense to re-apply props (potentially costly operation) if they didn't change.

[2018-09-28 14:16] fbove commented on #75
The example is:

[code]

[code]

Arrows is receiving updated props and re-rendering (1), but CustomPIXIComponent it's not. And it does have new props to show.

A workaround was to reset arrows on the state, inside the Component where I'm using Arrows.
[code]

It'd probably be some React behavior I'm not aware of.

[2018-09-28 20:59] michalochman commented on #75
Do I understand correctly that you mean that the props are not applied the first time the `CustomPIXIComponent` object is created? If yes, then this is intended behaviour. You have `customDisplayObject` method for instantiation, where you can also apply any props you like.

`customDisplayObject: () => new PIXI.Graphics(),` is the easiest implementation, you could do something like this instead:

[

[2018-10-08 23:13] faizaand commented on #71
Downgrading to React 16.4.2, from 16.5.2, solved the problem for me.

[2018-10-10 15:11] michalochman commented on #75
Closing as I think the above is the correct way to solve this. Let me know if not.

[2018-10-10 15:11] #75 closed

[2018-10-10 16:42] #71 closed

[2018-10-10 16:56] michalochman commented on #71
@ShallowGreen this is now fixed for React 16.5  in `react-pixi-fiber@0.5.0`

[2018-10-10 16:57] michalochman commented on #74
It works with React 16.5 in `react-pixi-fiber@0.5.0`

[2018-10-10 17:09] michalochman commented on #73
The code is now prepared to be tested against React <16.3 and React >=16.3. Now we need to find a good way to test under both variants and present correct coverage report.

[2018-10-30 09:09] drcmda opened #78 "refs on primitives (animation with react-spring)"
Is there a way to obtain a ref on objects?

I would like to create a native react-pixi target for react-spring, then you could use it to "natively" animate things outside of react. For instance here's an example for react-konva:

using hooks: https://codesandbox.io/s/71xj546m46
using render props: https://codesandbox.io/s/4z2vx0l86x

And this was react-blessed: https://twitter.com/0xca0a/status/10

[2018-10-30 10:06] michalochman commented on #78
@drcmda it is most certainly possible, it's how I work with most of my animations. Can you provide a sandbox where it returns `null`?

[2018-10-30 10:20] michalochman commented on #78
You can find working example in the examples folder if you want, using a ref on ParticleContainer which is a primitive: https://github.com/michalochman/react-pixi-fiber/blob/41c341d8c8a851e9cf3678258b075ac9cb47bf17/examples/src/CustomBunnymarkExample/CustomBunnymark.js#L122

There's also an example of spring animation using animated: https://github.com/michalochman/react-pixi-fiber/blob/41c341d8c8

[2018-10-30 12:51] drcmda commented on #78
I was testing with the first demo on the frontpage (https://codesandbox.io/s/q913r72jo4)

and i'm going

[code]

[2018-10-30 13:46] michalochman commented on #78
@drcmda the way you're getting ref in this example is by creating new function on each render (with arrow style). Because of that the previous ref callback is called with `null` first and only then the underlying instance is used to call the callback again, see [comment on react issue](https://github.com/facebook/react/issues/4533#issuecomment-261251426) by @gaearon. Should you just used `ref={con

[2018-10-30 14:23] drcmda commented on #78
in react-spring it would only be a couple if lines, it is in theory driven by animated, though it's faster and easier to use. I'll run some tests and if i have something i'll post here. Thanks for clearing it up, it was indeed the loop - stupid of me to not thinking of that. 😓

[2018-10-30 14:29] drcmda commented on #78
PS. is there anything like a set method on the instance or are the various props that i see on the ref reactive already?

[2018-10-30 15:25] drcmda commented on #78
Seems to work, thanks for the help! https://codesandbox.io/embed/0qkll4y5nw 🙂 This is animating 60fps, no React/forceUpdate involved. Would be ready for react hooks as well.

I only needed this for an article explaining on how to write custom targets on the react-spring site. But if you like we could make this into a real target. All it needs is a better understanding on what objects to set.

[2018-10-30 17:19] michalochman commented on #78
Glad it worked @drcmda, that's one cool looking demo!

I'm definitely into getting a real target, this might be useful for many users. Let me know what you need to know and we can sort this out. I think I might even resume work on raw animated integration (by implementing `setNativeProps`).

[2018-11-01 09:47] justintemps opened #80 "How to asynchronously import dependencies for CustomPIXIComponent?"
This is a question:

Let's say I'm using react-pixi-fiber in an app that has server side rendering. As such, I need to import both react-pixi-fiber and pixi.js in `componentDidMount` or after doing a check for `window`.
In some cases, I'm able to do something like this:

[code]

However, I'm not able to achieve the same thing with `CustomPIXIComponent`. Example:

[code]

throws the following error

[2018-11-01 10:21] michalochman commented on #80
Hey @justintemps, I don't see any issues with the above code. How are you using this `PixiMask` component later on? The error indicates that you might have set text content as children of it, which is forbidden.

[2018-11-01 14:06] justintemps commented on #80
The `PixiMask` component wraps around a `Sprite` component whose dependencies are loaded the exact same way.

[2018-11-01 14:21] michalochman commented on #80
Are you getting this error on the server side or browser side? Could you provide a codepen that demonstrates this issue so I can have a look and debug?

[2018-11-01 14:42] casperstorm opened #81 "Context and TypeScript (React 16.5.2)"
### Description
How do you use `Context` in TypeScript? By reading [this paragraph](https://github.com/michalochman/react-pixi-fiber#context--accessing-pixiapplication-instance-created-by-stage-) it looks like I can use either `withApp` (HOC) or the `Context` API directly. Looking in the [`index.d.ts`](https://github.com/michalochman/react-pixi-fiber/blob/master/index.d.ts) file it does not expose

[2018-11-01 14:57] justintemps commented on #80
Browser side. Will try to pull together a codepen.

[2018-11-01 15:19] michalochman commented on #81
@casperstorm try to run it against the code in #76. I am no expert in TypeScript so I can't help much more for now. I was basically waiting for someone to confirm that it works as intended before merging.

[2018-11-02 09:40] #81 closed

[2018-11-02 09:41] michalochman commented on #81
@casperstorm released as react-pixi-fiber@0.5.1

[2018-11-14 03:22] liajoy opened #85 "events on stage"
Hi!
Seems there's no way to add events to stage.
Since `DEFAULT_PROPS` and stage `propTypes` doesn't include events key, events is filtered and passed to canvas props.
can I just use stage like other pixi container do?
`
<Stage pointerdown={handler}>
`

[2018-11-14 07:11] michalochman commented on #85
Hey @liajoy, thanks for raising the issue.

A question though before merging #86, any particular reason you want to use Pixi events on `<Stage />` instead of DOM events on `canvas` returned from Stage `render`? The simplest workaround is to add a single `<Container />` to Stage and bind events there.

[2018-11-14 08:07] liajoy commented on #85
Pixi event is different with dom event, it provide more infomation and features. For example, event on stage like `pointermove` actually is bind on body, so it can trigger even out of canvas, maybe someone need this.
Add `<Container />` will help, but if `<Stage />` is more similar to Pixi stage,  I can migrate from pixi codes to react codes more easily?

[2018-11-14 08:45] michalochman commented on #85
Fair enough. I'll have a look at #86.

[2018-11-14 09:54] michalochman commented on #85
@liajoy released as `react-pixi-fiber@0.6.2`, thanks!

[2018-11-14 09:54] #85 closed

[2018-11-29 13:05] kasperkronborg commented on #71
Looks like this has been reintroduced in 0.6.2 and with React 16.5.2. At least I was getting the error. Downgraded to react-pixi-fiber@0.5.1 solved it.

[2018-12-03 05:42] KylePalko opened #87 "Window Missing on Server-side Rendering"
### Description

I'm implementing server-side rendering while leveraging `react-pixi-fiber`, but I'm getting an error (that makes sense) that the window, navigator, document, etc. objects are not available. I've come up with a workaround for this by replace `react-pixi-fiber` in the Webpack build process—basically I stubbed out the `<Stage />` component and had it just return `this.props.children`

[2018-12-03 10:00] michalochman commented on #87
Hi @KylePalko, it should be fairly easy to fix for server-side rendering by lazy loading the `Stage` (this is now very easy with React 16.6+) and rendering it behind a flag that checks if the render is within browser context. The other issue is that PixiJS itself probably needs a window object so it would need to be lazily imported as well.

However, I understand this might be an unnecessary boile

[2018-12-03 21:39] KylePalko commented on #87
`React.lazy` isn't available for SSR yet :/ The React docs point towards using [Loadable Components](https://github.com/smooth-code/loadable-components) module though. Is that what you were imaginging?

Can you give me a bit of direction on how this might work? How would I render the `canvas` element server-side? You're blowing my mind here man XD

[2018-12-03 23:45] michalochman commented on #87
@KylePalko ah, you're right, lazy is not in SSR yet.

Stage [already renders](https://github.com/michalochman/react-pixi-fiber/blob/b0229832dba4d071db00ef67c3cdd3459324ba57/src/Stage.js#L109) `canvas` element so probably nothing to change here.

I think all that's really needed is:
1. Not loading PIXI if not in browser context. This would probably mean changing [this import](https://github.com/mic

[2018-12-04 00:08] KylePalko commented on #87
Sweet, thanks for the direction, I will take a look. Again, appreciate all the work you've put into this!

[2018-12-20 16:20] liajoy opened #88 "batchedUpdates without ReactDOM"
### Description
HI!
`ReactDOM` has a `unstable_batchedUpdates` API to batch `setState` out of React context.
In `react-pixi-fiber`, if the React Pixi Fiber renderer is exported, I can get the `batchedUpdates` from it's instance, But seems it's not.( I think React Pixi Fiber renderer should be the internal.
So can expose the `batchedUpdates` API? But it's a unstable API, maybe someday it'll be impl

[2018-12-21 09:22] michalochman commented on #88
Hi @liajoy, in `ReactDOM` it's available because it explicitly exposes `batchedUpdates` from `ReactFiberScheduler` as `unstable_batchedUpdates`. We could also expose it this way if we wanted, that should be easy, you can try it yourself and submit a PR if you want. However, you are right it is unstable. There's a `TODO: Batching should be implemented at the renderer level, not inside the reconcile

[2018-12-21 15:23] liajoy commented on #88
Sure! Please take a look.

[2018-12-27 08:14] #88 closed

[2019-01-31 17:54] joegyoung opened #91 "dragStart issue with react-router-dom: ^4.3.1"
### Description

### Steps to reproduce

1.
2.

### Additional info

- react-pixi-fiber version:
- React version:
- ReactDOM version:
- PixiJS version:

[2019-01-31 21:17] michalochman commented on #91
@joegyoung changing `DraggableContainer.js` file:
[code]
 into:
[code]
seems to work.

[2019-02-05 18:49] matthieu-foucault commented on #42
FYI, using `pixi-viewport` is as simple as

[code]

and then use with:

[code]

I can make a PR to add it to the examples if you want

[2019-02-05 19:31] michalochman commented on #42
@matthieu-foucault that would be great!

[2019-02-06 09:24] nstolpe opened #93 "Store from Redux provider unavailable in connected react-pixi-fiber components"
I'm having issues using redux `connect` on react-pixi-fiber components if the redux provider is not a child of the `Stage` component.

The following setup works for me:

[code]

[code]

[code]

However, if I move the `Provider` so that it wraps `Stage`

[code]

I get this error:

`Uncaught Error: Could not find "store" in the context of "Connect(TestContainer)". Either wrap the root component in a

[2019-02-06 09:51] michalochman commented on #93
@nstolpe thanks for the report. If you are using `react-redux@6.0.0` which is using the new Context API then this is a limitation of the new Context API itself. The context is not passed across different reconcilers because of context boundaries. See [this comment](https://github.com/michalochman/react-pixi-fiber/pull/84#issuecomment-437581875) for more info and workarounds.

[2019-02-06 15:22] nstolpe commented on #93
Thanks for getting back to me so quickly @michalochman. I'll give some of the workarounds in the PR comment, shoulda looked at some closed issues for more info (I'll close this too).

[2019-02-06 15:22] #93 closed

[2019-02-07 01:02] matthieu-foucault opened #94 "Remove canvas-prebuilt from devDependencies?"
### Description

- When running `npm install` on the master branch, I get a 404 error because the tar.gz of `canvas-prebuilt` is not found for `node-v67-linux-x64`

- According to https://github.com/node-gfx/node-canvas-prebuilt

- Finally, I coudn't find any use of `canvas-prebuilt` or `canvas`. Is it actually used?

### Steps to reproduce

1. `npm install`
2. :boom:

[2019-02-07 09:41] michalochman commented on #94
Hi @matthieu-foucault, feel free to open PR to replace `canvas-prebuilt` with `canvas`. We need `canvas` to be available to `jsdom` in unit tests.

[2019-02-07 09:43] michalochman commented on #93
@nstolpe these workarounds are functional, personally I use [this one](https://github.com/facebook/react/issues/13336#issuecomment-414709155).

[2019-02-07 12:23] michalochman commented on #78
#95 shows an example how to implement Animated that will skip React's `forceUpdate`.

[2019-02-16 00:28] #78 closed

[2019-02-19 21:38] nstolpe commented on #93
I was able to get back to this and solved the issue thanks to those links, using something like this:

[code]
`ConnectedControls` are ReactDOM components that are connected to my Redux store, and
`ScreenContext` is used with the inner Redux provider and connected components to avoid the warning about the same context being used by multiple renderers. And all of my data from the provider inside `re

[2019-02-20 08:55] michalochman commented on #93
Thanks for sharing that @nstolpe!

[2019-02-23 21:35] #94 closed

[2019-03-07 06:49] dsoskey opened #99 "TypeError when using pointerdown on Sprite"
### Description

I'm trying to add typing to a class that uses react-pixi-fiber's Sprite and I get the following error:

[code]

Has anyone run into the same or a similar typing issue?

### Relevant Code

class with offending error
[code]

tsconfig.json

[code]

### Additional info

- react-pixi-fiber version: 0.7.0
- React version: ^16.7.0
- ReactDOM version: ^16.7.0
- PixiJS version: ^4.8.6

[2019-03-12 22:53] jjarrett21 opened #100 "Custom Ticker"
I'm trying to set the ticker for some animation that is driven by a video player.

[2019-03-13 06:23] michalochman commented on #100
Hi @jjarrett21, you can [access PIXI.Application using context](https://github.com/michalochman/react-pixi-fiber#context--accessing-pixiapplication-instance-created-by-stage-).

[2019-03-13 06:23] #100 closed

[2019-03-14 21:24] jjarrett21 opened #101 "Cant access ticker with context"
I would like the animations to run off of my own timer, however I can not find documentation for hijacking ticker, and every time I try and call this.props.app.ticker(this.animate) I get undefined errors. Need Help. SOS!

[2019-03-14 22:16] jjarrett21 commented on #101
Adding some code for more info:

`class PixiRectangle extends Component {

    state = {
        x: 0,
        rectangles
    };

    componentDidMount() {
        // this.props.app.ticker.add(this.animate)

    }

    componentWillMount() {
        // this.props.app.ticker.remove(this.animate);
    }

    timerStart () {
        this.props.app.ticker.add(this.animate)
    }

    timerStopper () {

[2019-03-15 05:55] michalochman commented on #101
Hi @jjarrett21, please put the example code that you think is not working on e.g. codesandbox.io so we can see it in action.

[2019-03-19 15:52] jjarrett21 commented on #101
I think I figured it out, thanks.

[2019-03-19 15:52] #101 closed

[2019-03-19 17:04] jjarrett21 opened #102 "removeChild"
I am trying to conditionally remove some rectangles that I'm mapping before hand using the .removeChild and it keeps telling me that it is not a function, is the stage. remove not a function?

[2019-03-19 17:18] michalochman commented on #102
@jjarrett21 that's not how you use React, if you don't want to render some elements from a list then `filter` before `map`. If you want to skip react then refer to [PIXI docs](http://pixijs.download/release/docs/index.html).

[2019-03-19 17:18] #102 closed

[2019-03-21 04:55] liajoy commented on #99
I've been through this before.
Some codes of PIXI's declaration file need modify, so the declaration file should be copied to this library. Then add PIXI event's types into ReactPixiFiber's declaration file.
I don't know is there a need  to make a pr for this. @michalochman

[2019-03-21 06:42] michalochman commented on #99
@liajoy I don't use TypeScript so I'm not sure how to fix it, but I had a look at PIXI types and they have [type InteractionEventTypes](https://github.com/pixijs/pixi-typescript/blob/e4d63c3a64168f865505ce67a6147265fba83209/pixi.js.d.ts#L2257). Is it possible to use this?

[2019-03-21 10:01] liajoy commented on #99
@michalochman yes, these events is what we need to add to `PIXI.displayObject` class in PIXI types.

[2019-04-05 14:28] yvesvinckier opened #103 "DisplacementFilter in react-pixi-fiber"
### Description
is it possible to deal with DisplacementFilter in react-pixi-fiber to do a ripple effet.
to do something like that :
// get our displacement map (image)
    var displacementSprite = PIXI.Sprite.fromImage("images/filters/water.png");
    // set to repeat in a tiled patern
   displacementSprite.texture.baseTexture.wrapMode = PIXI.WRAP_MODES.REPEAT;
   // set filter to sprite containe

[2019-04-05 15:00] michalochman commented on #103
@yvesvinckier a quick 5 minute demo: https://codesandbox.io/s/8813o9o4j8

This is not the cleanest solution, but should give you an idea of one way to approach this. If you want the code to be more react-like (i.e. declarative), I would create [Custom Component](https://github.com/michalochman/react-pixi-fiber#custom-components) with all the imperative code instead.

[2019-04-05 15:00] #103 closed

[2019-05-07 05:13] bjindal4 opened #104 "Port an existing game to react Pixi."
This is not an issue, I just want to get some idea how I should go about it. I have a game developed in Pixi and want to port it on react native. From creating views, tweening objects and having interactive buttons there are many components in the game. I can take the help of react-pixi-fibre. Please guide what are the things I need to create via the react-pixi-fibre. What's the most efficient way

[2019-05-07 05:13] bjindal4 opened #105 "Port an existing game to react Pixi."
This is not an issue, I just want to get some idea how I should go about it. I have a game developed in Pixi and want to port it on react native. From creating views, tweening objects and having interactive buttons there are many components in the game. I can take the help of react-pixi-fibre. Please guide what are the things I need to create via the react-pixi-fibre. What's the most efficient way

[2019-05-07 16:09] #105 closed

[2019-05-07 16:09] michalochman commented on #105
#104

[2019-05-07 16:14] bjindal4 commented on #105
How is this an answer?

[2019-05-07 16:20] michalochman commented on #104
@bjindal4 there are a lot of resources out there about structuring React applications. There's no single "the most efficient way", it all depends on your game actual needs and challenges you have to face.

Here I can only point you to:
- [Usage](https://github.com/michalochman/react-pixi-fiber#usage) of react-pixi-fiber
- [Running examples](https://github.com/michalochman/react-pixi-fiber#running-

[2019-05-07 16:20] #104 closed

[2019-05-07 16:30] bjindal4 commented on #104
Thanks @michalochman. I have heard of Expo. I will look into that as well. I have my code base but the main thing to explore is with less of code if it's possible to make a react native and react game. I have already tried some of the examples of react-pixi-fibre.

[2019-05-08 06:33] xtaaaal opened #106 "TypeError calling PIXI.Texture.fromImage"
### Description
I'm starting up an app and try to render a sprite but getting following error:

[code]

### Steps to reproduce

1. `npx create-react-app {my-app}`
2. `npm install pixi.js`
3.  `npm install react-pixi-fiber --save`
4.  create a function and attemp to get the pixi texture
[code]
5. `npm start` to run the app

### Additional info

- react-pixi-fiber version: 0.8.0
- React version: 6.4

[2019-05-08 07:01] michalochman commented on #106
Hi @xtaaaal, looks like you’re using Pixi v5, which now has `
PIXI.Texture.from` method instead.

On Wed, 8 May 2019 at 08:33 xtaaaal <notifications@github.com> wrote:

[2019-05-08 07:06] xtaaaal commented on #106
Thanks a lot! It works now!

[2019-05-08 11:14] #106 closed

[2019-05-20 17:22] inglesuniversal opened #108 "Can you make it run with PixiJS version 5.0.2?"
Best regards

[2019-05-20 17:50] michalochman commented on #108
@inglesuniversal what is not working for you? Can you be more specific?

I can see it working with PixiJS@5.0.3, see this [codesandbox](https://codesandbox.io/s/quiet-frog-sjqf7).

[2019-05-20 20:25] inglesuniversal commented on #108
Thanks. I works now. I simply tried to change the version on the sandbox json file.

[2019-05-20 20:52] #108 closed

[2019-05-28 07:49] #99 closed

[2019-06-10 04:22] hoeugene opened #118 "TilingSprite not working with PIXI v5"
### Description
"TypeError: Cannot read property 'TilingSprite' of undefined" when using TilingSprite.
This should be caused by TilingSprite rendering from PIXI.extras.TilingSprite, which has been deprecated in [v5 of pixi](http://pixijs.download/dev/docs/PIXI.extras.TilingSprite.html). I've been able to fix this by rendering from PIXI.TilingSprite

### Additional info

- react-pixi-fiber version:

[2019-06-10 10:15] michalochman commented on #118
Hi @hoeugene, I would suggest creating [Custom Component](https://github.com/michalochman/react-pixi-fiber#custom-components) which creates an instance of `PIXI.TilingSprite`, something like:

[code]

I will need to address PixiJS v4 and v5 compatibility some way.

[2019-06-17 14:07] JohannesKlauss opened #119 "Demo (Rotating Bunny) in Readme is broken."
### Description
Rotating Bunny example crashes.

### Steps to reproduce

1. Click on Rotating Bunny link (https://codesandbox.io/s/q7oj1p0jo6) on github readme page
2. Expect example to work.
Actual result:
[code]

[2019-06-17 14:50] michalochman commented on #119
Some dependency error as usual. Fixed now, thanks @JohannesKlauss.

[2019-06-17 14:50] #119 closed

[2019-06-19 11:40] z-ax commented on #118
Yeah, the same with `ParticleContainer`.

[2019-06-24 10:23] SenHeng opened #120 "PIXI.Point.copy() deprecated in v5, causes setPixiValue() to break"
### Description

http://pixijs.download/release/docs/PIXI.Point.html#copy

https://github.com/michalochman/react-pixi-fiber/blob/42c2522c67d173a79b708e4dae24584b82ba4afe/src/utils.js#L60

Managed to fix by updating `copy` to `copyFrom`.

I could push a PR that checks for whichever exists and use it if you're ok with that, unless you have something else planned?

### Steps to reproduce

Not my code

[2019-06-24 11:35] michalochman commented on #120
Thanks @SenHeng, `copyFrom` is not available in Pixi v4, so if you could add a check for existence of either of those that would be great!

[2019-06-25 14:05] DanProudfoot opened #122 "Functional Component child of Stage doesn't work with Hooks"
### Description

Using a component as a child of Stage means I can't use hooks in that component.

### Steps to reproduce

I've created a [codesandbox that replicates the problem](https://codesandbox.io/s/eager-wescoff-hwmkv?fontsize=14). You'll have to open the external page view because it was complaining about WebGL otherwise.

In the console output of the external page, you should see

Even th

[2019-06-30 20:08] michalochman commented on #122
Thanks for reporting and reproduction scenario @DanProudfoot, I'll investigate.

[2019-07-01 05:54] SenHeng commented on #122
Receiving the same error after updating react-redux to v7.1.0 from v6.
Reverting to v6.0.1 fixes the issue.

![スクリーンショット 2019-07-01 14 49 27](https://user-images.githubusercontent.com/11208360/60413312-6f76a600-9c0f-11e9-9762-c6a8730aac48.png)

 ### packages
 * react-pixi-fiber version: 0.8.1
 * React version: 16.8.6
 * React-redux: 7.1.0
 * ReactDOM version: 16.8.6
 * PixiJS version: 4.8.8

[2019-07-01 09:29] #120 closed

[2019-07-01 19:25] #118 closed

[2019-07-01 19:26] michalochman commented on #118
@hoeugene @z-ax this should be fixed in next version – v0.9.0

[2019-07-01 19:32] michalochman commented on #122
@DanProudfoot I think it should be fixed in v0.9.0, please reopen if it's not.

@SenHeng I have not checked it with react-redux@7.1.0 but if the issue was the same then it should work as well. Please open separate issue if it's not.

[2019-07-01 19:32] #122 closed

[2019-07-02 10:39] DanProudfoot commented on #122
Yep, that worked. Thanks for getting that fixed.

[2019-07-05 09:51] kresli opened #125 "typescript withApp is missing"
### Description
Works as expected apart type definition for `withApp` is missing

<img width="634" alt="image" src="https://user-images.githubusercontent.com/3826097/60714376-e2836380-9f12-11e9-8109-4a4095314c97.png">

### Additional info

"react-pixi-fiber": "^0.9.0",
"react-resize-detector": "^4.0.5"

[2019-07-08 11:32] kresli opened #126 "Q: How to use class instance as behaviour"
Its seems like the behaviour customApplyProps ( and maybe other lifecycle methods) are bound to parent scope which is stoping me to use class instance as parameter for CustomPIXIComponent. Maybe I just missing something here. If this is expected, would anyone mind to explain me why its bind to parent instance?
Thanks

[code]

[2019-07-08 17:56] michalochman commented on #126
Hi @kresli, can you create more comprehensive example, for example on [codesandbox.io](https://codesandbox.io)? The code above doesn't even compile.

Also it would help if you could explain why you need class instance in this scenario.

[2019-07-08 18:16] kresli commented on #126
I apologise for very bad example. Here is working demo https://codesandbox.io/s/epic-meadow-9qk82
Open console click `increment` button in editor and you'll see second Rectangle level is bound to parent

[2019-07-08 22:20] kresli commented on #125
My bad. I'm using 16.8.x where docs clearly says

[2019-07-09 09:23] michalochman commented on #125
@kresli `withApp` should work regardless of React version you're using, it's missing from typescript definitions which I'm not maintaining personally (they were contributed by others) so yeah, it's still an issue, reopening.

[2019-07-09 17:09] michalochman commented on #126
I can see the issue now.

`customDisplayObject` was never thought to be a class bound method – for historical reasons (compatibility with original react-pixi lib), custom components had access to [applyDisplayObjectProps method](https://github.com/Izzimach/react-pixi/blob/a25196251a13ed9bb116a8576d93e9fceac2a14c/src/ReactPIXI.js#L953). For this reason, `this` should be [an object with `applyDispla

[2019-07-09 21:17] kresli commented on #126
well its more about simple OOP. So here is something which I try to do

[code]
The basic idea is render Bounding box around graphic and once child bounding box is outside parent, stop rendering. Also I like to include something like mobX in my classes for better performance. Its just an experiment to see the possibilities of the package.

[2019-07-10 10:18] michalochman commented on #126
Hi @kresli the code you presented is not what you would usually do with React which is all about prefering composition over inheritance.

The way I see it, you are trying to create custom component that basically manages multiple PixiJS entities which makes the code overly complicated and not extensible (e.g. what would you do if you want the child to be Sprite instead of Graphics?).

Not sure if

[2019-07-12 06:07] kresli commented on #126
Yep I agree with unusual approach. React is pushing for composting over inheritance.  But pixi on other hand has no issue with inheritance. This is unique approach and I understand there is very few users who like to use class based react-pixi components. I was more wonder why the scope is bound to different scope in middle of process which is always a bad idea ( in my humble opinion). If you need

[2019-07-12 07:31] michalochman commented on #126
Simple answer is – it's because this package was meant to be a replacement for [react-pixi](https://github.com/Izzimach/react-pixi) that only supported React versions up to 15. When I was building react-pixi-fiber I wanted an easy way to port my large codebase to React 16. You can see a few tricks here and there only because of backwards compatibility or because react-pixi did something one way or

[2019-07-16 21:26] kresli opened #129 "Testing with react testing library throw PascalCase naming warning"
### Description

Using https://github.com/testing-library/react-testing-library
throw warning
<img width="892" alt="image" src="https://user-images.githubusercontent.com/3826097/61330850-7b21b980-a818-11e9-8e0d-f9a77258c871.png">
It's just an warning per component but it get's annoying if test contain many fiber components
### Steps to reproduce

1. clone https://github.com/kresli/react-pixi-fiber

[2019-07-17 19:01] michalochman commented on #129
Hi @kresli, this warning seems wrong, it should only apply to DOM elements, not to React Pixi Fiber elements. Is there a way to get rid of it somehow? It doesn't happen when using plain `jest` for testing.

I was thinking about changing `Container` to `container` for 1.0 release (it would be breaking change), but I think this warning should not apply here anyway.

[2019-07-18 05:59] kresli commented on #129
No clue, I hoped you'll know. I looked into it and you're right, the error doesn't seems right. I'll take another look once I'm free from other stuff I'll need your help to understand how fiber component are created. One thing related to the issue is creating a component with dot notation like `component.Container` not sure if that's happening in your project.

[2019-07-18 08:19] kresli commented on #129
Ok, seems like once I set Stage warning goes away. eg
[code]

[2019-07-18 19:08] michalochman commented on #129
Ah, if you've not been rendering it as a child of `Stage` then it was rendered by `ReactDOM`, not `ReactPixiFiber` and that would explain the warning.

[2019-07-21 03:48] eulertour opened #130 "Production ready?"
The README for this repo states that it isn't production ready, but no justification is given and the blame indicates that it was written 2 years ago. Has this changed, and if not can you explain why?

[2019-07-21 09:01] michalochman commented on #130
Hi @eulertour, I'm using this on production for almost 2 years without any issues (that couldn't be solved one way or another) so you're right – this text should not be in README any longer. Feel free to submit PR if you want as I'll not be able to push anything in the next few days.

[2019-07-29 14:56] #130 closed

[2019-07-29 14:56] #129 closed

[2019-07-29 16:38] michalochman commented on #125
@kresli can you check if #133 fixes your issue?

[2019-08-01 16:37] #125 closed

[2019-08-18 19:14] robclouth opened #136 "<Graphics/>"
There doesn't appear to be any draw method or anything with the Graphics component. The only way seems to be with a custom component. What's the point in the Graphics component then? Am I missing something?

[2019-08-19 08:50] michalochman commented on #136
Hi @robclouth, there is no method like this for [PIXI.Graphics](https://pixijs.download/dev/docs/PIXI.Graphics.html) object, but you can use [`ref` prop](https://reactjs.org/docs/refs-and-the-dom.html) to access the underlying instance and do what you need.

Thanks for asking though! I think that adding `draw` method like you suggest might not be a bad idea after all. However, to do so, we would h

[2019-09-09 09:14] RossKinsella opened #142 "Q: How do you use hooks inside of a component nested in the <Stage>?"
### Description
I'm interested in having a `useEffect` hook in a component which renders a `Container`, nested in a `Stage`

eg:

#### Tree
[code]

#### MyComponent.tsx
[code]
### Steps to reproduce

1. Set up a project with a layout similar to the one in my description
2. When you run the code, it will throw this exception:
[code]

### Additional info

- react-pixi-fiber version: 0.9.3
- React ve

[2019-09-09 13:33] RossKinsella commented on #142
Incase it's relevant, here is the output of `yarn why scheduler`

[code]

[2019-09-09 17:37] michalochman commented on #142
Hi @RossKinsella thanks for reporting. We are finalising hooks support in #127, where we have actually downgraded scheduler to `0.13.6`

[2019-09-12 22:13] ryanking1809 opened #144 "Interaction Events Looping"
Hi, I'm excited to try out `react-pixi-fiber` and have bumped into some issues with the interaction events looping with a rectangle component I created. I'm not sure if it's all `react-pixi-fiber` components or just `CustomPIXIComponent`.

You can play around with the code sandbox here https://codesandbox.io/embed/react-pixi-fiber-react-spring-b4ett

If you click on the rectangle you notice it con

[2019-09-13 07:30] michalochman commented on #144
Hi @ryanking1809, it's because on each `customApplyProps` in your custom component you are calling:
[code]
but you never call
[code]
to remove previously added event handler.

`customApplyProps` is called every time props are updated which in this case is every time the rectangle is animated.

[2019-09-13 08:17] michalochman commented on #144
A quick tip: use `this.applyDisplayObjectProps(oldProps, newProps);` API that is mentioned as a note to [`customApplyProps` ](https://github.com/michalochman/react-pixi-fiber#customapplypropsdisplayobject-oldprops-newprops-optional) description. You should pass all props that you don't use directly in your implementation of `customApplyProps`.

In your example, you could remove `instance.on("point

[2019-09-13 12:39] ryanking1809 commented on #144
Ok got it, thanks! Do you have any info on how `applyDisplayObjectProps` works?
Can I pass it any event?

[2019-09-13 12:39] #144 closed

[2019-09-13 13:39] ryanking1809 commented on #136
I hope you don't mind me suggesting an api for this but it would be really useful to extend the `<Graphics />` component.

I was thinking you could map all `draw` functions to a component like so:
[code]
Which would produce something like this in Pixi
[code]

It gets a little more tricky when it comes to just drawing paths. I like the idea of implementing some sort of `<Path />` component like so:

[2019-09-14 11:36] michalochman commented on #144
@ryanking1809 all `applyDisplayObjectProps` does is to handle prop changes the same way non-custom components handle it. For example, if `<Sprite />` component was not provided, it could be implemented using custom component this way:

[code]

----

`<Rectangle />` custom component example mentioned in README is very basic and incomplete. The actual implementation that would pass other props to th

[2019-09-14 11:43] michalochman commented on #136
Thanks for the suggestion @ryanking1809.

I'm not sure that we can do it using your proposed syntax in a way that is not confusing – currently all components are backed by their own instance, here we have one instance representing multiple components.

I also think that updates would be complicated. How would you approach this basic scenario of rectangle with animated dimensions and position?

[co

[2019-09-15 09:11] RossKinsella opened #145 "React's `Context.Providers` defined outside of the <Stage> is not available within it"
### Description
https://github.com/michalochman/react-pixi-fiber/pull/127#issuecomment-531547402

### Steps to reproduce

1. Define a context provider outside of the stage
2. Consume it inside of the stage
3. You will see that the consumed context is an empty object

### Additional info
I think we need to write some code here to pass along context
https://github.com/michalochman/react-pixi-fiber/b

[2019-09-15 09:17] michalochman commented on #145
Hi @RossKinsella, this is react issue, context is not shared between different renderers when you use new context api (it was working with legacy api). See #93 for workarounds.

[2019-09-15 09:33] RossKinsella commented on #145
Gotcha @michalochman, thanks for the workaround link!

[2019-09-15 09:33] #145 closed

[2019-09-17 18:09] ryanking1809 commented on #136
Yeah ok, that makes things more complicated. Maybe the original draw method suggested makes more sense then! Thanks for considering :)

[2019-09-17 19:40] robclouth commented on #136
https://github.com/react-native-community/react-native-svg

This library has a nice way of doing it.

[2019-09-18 08:41] michalochman commented on #136
@robclouth can you point to some example specifically? As far as I know, SVG shapes like rectangles or circles are instances of `<rect>` or `<ellipse>` that each can be backed by single DOM node. This is not the case with just Graphics component.

If one wants to have API similar to `react-native-svg` it's very easy to implement using CustomComponent API from `react-pixi-fiber`, there's even an [e

[2019-09-18 09:24] robclouth commented on #136
I was referring to the Path component.

On Wed, 18 Sep 2019, 10:41 Michał Ochman, <notifications@github.com> wrote:

[2019-09-18 11:52] michalochman commented on #136
@robclouth path is also represented by DOM node, `<path>` in this case.

[2019-09-18 13:32] ryanking1809 commented on #144
Oh perfect, thank you!

[2019-09-23 23:33] ryanking1809 commented on #136
I've implemented my own version of this. I'm not sure how easy it is to integrate into the library's Graphics component, but it's easy enough to do yourself.
[code]

[2019-10-18 17:23] michalochman commented on #142
Fixed in #127

[2019-10-18 17:23] #142 closed

[2019-10-20 19:38] #126 closed

[2019-10-20 19:56] #80 closed

[2019-10-20 19:57] michalochman commented on #87
See if the solution in [this comment](https://github.com/michalochman/react-pixi-fiber/issues/80#issue-376322396) fits.

[2019-10-20 19:57] #87 closed

[2019-10-20 19:57] #42 closed

[2019-10-21 12:58] J00nz opened #146 "Stage changed"
### Description

As a developer it would be nice to have better access to the "class" version of "Stage".
In the latest version of react-pixi-fiber the interface of "Stage" changed from "class" based to a be either a "class" or "function" depending if the react-version has support for hooks or not.
This is nice, but it would be great to have convenient access to a specific implementation.
Suggest

[2019-10-21 13:00] michalochman commented on #146
Sure, we can easily do that. Out of curiosity, what would be the use case?

On Mon, 21 Oct 2019 at 14:58 Johan Jönsson <notifications@github.com> wrote:

[2019-10-21 13:38] J00nz commented on #146
For example, we have added some additional functionality to the stage class, stuff that is relevant for us but might not be so relevant for other use cases, all built on the old class interface. After updating they broke, since we're using the latest react version.
Just exporting the "createStageClass" would enable us to use that and re-add our custom functionality.

[2019-10-21 13:49] michalochman commented on #146
If you don’t want to share exact use case, would you be able to show some
abstract example based on what you do to Stage class?

This information will be helpful to understand what are the possible
implications of changes to this library, so maybe we can lock the interface
to prevent such issues in the future.

On Mon, 21 Oct 2019 at 15:38 Johan Jönsson <notifications@github.com> wrote:

[2019-10-21 14:19] J00nz commented on #146
Well sure, we have a couple of things we've added:
In the componentDidMount we added the following:
    const { prepare, prepareCallback } = this.props.options

    if (prepare) {
      const { renderer } = _app
      const { plugins } = renderer
      if (!Array.isArray(prepare)) {
        plugins.prepare.upload(prepare, prepareCallback)
      } else {
        prepare.forEach((item) => {

[2019-10-21 14:20] J00nz commented on #146
So basically we just add a bit of custom functionality on top of the existing stage :)

[2019-10-22 11:05] #146 closed

[2019-10-22 11:13] michalochman commented on #146
@J00nz check out `0.11.0`

[2019-10-22 11:15] J00nz commented on #146
Awesome, looks great! 👍

[2019-10-27 22:21] #73 closed

[2019-10-27 22:22] #62 closed

[2019-11-07 23:35] Othreumaru opened #150 "Version of PIXI in peer dependencies not correctly supported in Typescript definition"
### Description
Hello, thanks for making this great library, I really enjoy using it.

I found small issue with your types, you define peer dependency as `"pixi.js": "^4.4.0 || ^5.0.0"`

Now in PIXI 5.0 they removed the PIXI.extras namespace and all members were moved into PIXI namespace as you can see in this code snippet copied from their git repo:

`
    /**
     * This namespace has been remov

[2019-11-08 09:53] michalochman commented on #150
Hi @Othreumaru, do you have any suggestions for solving this issue?

GitHub releases list is now fixed.

[2019-11-08 10:32] Othreumaru commented on #150
You need to decide which version of PIXI you support or in case it's both you need to reflect that in your typescript type definitions.

[2019-11-08 14:53] michalochman commented on #150
We support both v4 and v5 of PixiJS. TypeScript definitions were created by contributors and I am just starting to use it so if you know how to fix it then contributions are more than welcome!

[2019-11-10 00:14] Othreumaru commented on #150
I was playing with the types a bit to make them work in all your supported versions and I came up with this solution [https://github.com/Othreumaru/react-pixi-fiber/commit/0614079008cc255d90a3c5e8b54ebd5e79dfbbbe#diff-b52768974e6bc0faccb7d4b75b162c99](link)

This works because types in typescript are compared by shape, so I fix it by removing the location reference and redefining the type locally.

[2019-11-10 11:51] michalochman commented on #150
@Othreumaru thanks. Would you be able to share a piece of application code that shows that the current types are not sufficient and that your solution works? I would like to try to explore other possibilities and see that the solution you are proposing would work – what I don't like is that we would need to redefine types that are already declared in PIXI types.

[2019-11-13 20:04] kresli commented on #150
I like to add my two cents here. You can't support 2 major version within same repo with d.ts. Thats not possible. you can create 2 repo in @types to support both eg `@types/react-pixi-fiber-4` and `@typescript/react-pixi-fiber-5` I don't like it personally but I don't see other solution here.
Maybe you could support only latest pixijs and create @types for legacy?

[2019-11-13 20:08] kresli opened #151 "fresh repository clone yarn test fails"
- git clone
- nvm install
- yarn
- yarn test

<img width="621" alt="image" src="https://user-images.githubusercontent.com/3826097/68800044-418b7e80-0651-11ea-903d-08594846e422.png">

[2019-11-13 20:16] kresli commented on #151
ok so fixed failing test by running yarn build. Then I end up with

<img width="649" alt="Screen Shot 2019-11-13 at 8 15 08 PM" src="https://user-images.githubusercontent.com/3826097/68800655-6a604380-0652-11ea-8465-c29e1f73de4c.png">

[2019-11-13 23:35] kresli opened #152 "External PIXI.Application in Stage"
Hi, I like to be able to pass external pixijs app into the stage. eg

[code]

The reason is I need to keep app accessible by other application's parts and I couldn't find solution yet. Any suggestions?
Thanks

[2019-11-14 10:18] michalochman commented on #152
Hi @kresli, I planned to do this eventually, but I have an ongoing refactoring project going and I don't have time to add this myself.

You have at least the following options:
1. Use `render`, see [Without ReactDOM](https://github.com/michalochman/react-pixi-fiber#without-reactdom) section of README.
2. Create containing component, save `ref` to `Stage`, e.g. `<Stage ref={stage => (this.stage = s

[2019-11-14 10:21] michalochman commented on #151
Hi @kresli, yes, the tests for `react-pixi-alias` require that the app is built first. I'll update the README.

With regards to the warning, I was not able to get rid of it in tests, I was not experiencing it when launching the app, possibly some React or shallow renderer version mismatch

[2019-11-14 22:17] kresli commented on #151
Thanks for quick respond. I would guess is all test are executed concurrency which using same Context. Eg:
[code]
If you create new AppContext for each test, the warning should go away. I didn't test it, just guessing here.

[2019-11-14 22:34] kresli commented on #152
Thanks for suggestion and I'm happy to help with this issue.

1. I doing this already, however doesn't work properly. React isn't notified if any sub-child  components change and will not trigger update eg: (<child><subchild={x}/><child>) . Using <Stage/> works perfectly fine because you have `applyUpdate`.  This is quite important because I'm using mobx which need to be notified of changes.
2. I

[2019-11-21 15:04] michalochman commented on #152
@kresli I have opened a PR #154 which adds `app` prop to `Stage` component. There is an example added which confirms that it works, but would you be able to test it in your app?

[2019-11-23 12:13] #152 closed

[2019-11-24 11:52] kresli commented on #152
@michalochman Hi, Thanks a lot for this and sorry for late respond. Currently I'm very busy but I'll try to find a time to test it today. Again, sorry for late respond.

[2019-11-24 12:44] michalochman commented on #152
Don't worry @kresli, you can now check it in 0.12.0 version

[2019-12-01 17:33] wss534857356 opened #155 "Pixi.js will drawImage when every frame update"
### Description
When I tried to draw a list view, I noticed that the number of frames was very low on earlier versions of Android. So I tried to record the performance and found that I was redrawing the image every time. When there were too many images, this would cause a freeze. Are there any solutions or optimization methods to help me with this situation? Has anyone else encountered a similar s

[2019-12-02 10:14] michalochman commented on #155
Hi @wss534857356, the functions executed are from PIXI, not from RPF. If you don't want to render on every animation frame, you can now provide PIXI.Application via `app` prop to `Stage` component so you can easily configure the [ticker](https://pixijs.download/dev/docs/PIXI.Ticker_.html) on your own.

[2019-12-10 11:27] Othreumaru opened #156 "Bug in Hooks: ReactPixiFiber did not render into container provided"
### Description

I believe around version 0.10.0 with PR
https://github.com/michalochman/react-pixi-fiber/pull/127

A subtle bug was introduced. It can occur when react renders a component then that render triggers a change for example layout resize which triggers rerender in a sync way. Which causes fiber to unmount previous  component which throws exception

ReactPixiFiber did not render into co

[2019-12-10 12:29] michalochman commented on #156
@Othreumaru can you reproduce this also in 0.12.0? If you could provide some code sandbox with this happening that would be great. You can use [this template](https://codesandbox.io/s/react-pixi-fiber-template-ohk6z) as a starter.

[2019-12-10 14:40] Othreumaru commented on #156
I have narrowed down the root cause of my problem to be options object changing on Stage causing a circular unmount loop since that was triggering update to my context. My case might be rare so feel free to close this.

[2019-12-10 14:55] michalochman commented on #156
I can see if it is possible to eliminate such unmount loop if you could share a minimal options object that could be used to reproduce that scenario.

[2019-12-12 02:48] #155 closed

[2019-12-22 04:07] nstolpe commented on #156
I'm pretty sure I'm also running into this issue. I'll try to recreate it and fix it.

[2019-12-22 08:45] michalochman commented on #156
@nstolpe I have changed how it works significantly in #47 so not sure if it's worth fixing on master unless this is a common issue.

[2019-12-22 09:24] nstolpe commented on #156
Actually, I think my issue has something to do with my app code. [This example](https://codesandbox.io/s/laughing-sun-3fx7m) of changing `backgroundColor` in Stage options works fine. It's just `useState` though, no Context. I have tested locally with a Context and that's fine too, I'll try to est up an example for that as well. @michalochman if @Othreumaru can get us an example that reproduces th

[2019-12-22 09:29] nstolpe commented on #156
@michalochman oh wow, you've made some major changes. I didn't see your reply until after posting my last one. If there are any outstanding issues with this after your refactor, or if you just need some testing done, I can help out.

[2019-12-24 10:24] pivcec opened #158 "how to animate rectangle?"
### Description

I have rendered a rectangle inside of Notes component, and I would like to use props.movement in order to animate it from right to left of screen.

I would also like to know how to add many rectangles to one entity so that I can animate the single entity.

### Steps to reproduce

please see following codesandbox: [link](https://codesandbox.io/s/react-pixi-fiber-demo-rotating-bunny

[2019-12-24 10:31] michalochman commented on #158
@pivcec I replied to your query on [gitter](https://gitter.im/react-pixi-fiber/Lobby).

For sanity, let's keep github issues only for library related ideas, improvements and bugs, not for per-project help – thanks!

[2019-12-24 10:31] #158 closed

[2020-01-05 14:44] PByH opened #161 "100 RotatingBunny components slideshow"
Hello!
I'm newbie in react-pixi-fiber, so may be my question is not very kind, but... There are 2 tests, which I made with Rotating bunny demo:
1) If I add 100 RotatingBunny components on one scene, the performance looks not good even on strong machine.
2) If I add 100 Bunny components into RotatingBunny component (each with random rotation prop on Render) the performance is ok.
As far as I can su

[2020-01-05 17:15] michalochman commented on #161
Hi, have a look at both Bunnymark examples in repo, they both handle
thousands of bunnies, the custom one even ten of thousands. If you want to
batch updates then you can also have a look at that example as well.

In general, react-pixi-fiber is only an interface from React to PixiJS, so
all React concepts hold true. To be more specific, there is no such thing
as “skipping unuseful render calls” i

[2020-01-05 18:45] PByH commented on #161
Thanks for the answer!
Sorry for not providing demos in my first message. So here they are:
1) https://codesandbox.io/s/react-pixi-fiber-demo-rotating-bunny-fh092
2) https://codesandbox.io/s/react-pixi-fiber-demo-rotating-bunny-otmt1
I beleive that the performance problem in first demo is not on the react-pixi-fiber side, and may be I should ask my question in React/Fiber repo...
But the main ques

[2020-01-05 18:56] michalochman commented on #161
Bunny example is a trivial one for a reason - it’s just a minimal demo.

Don’t animate using setState as it is slow when there are many components
to render (Animation in react-dom using setState would be equally slow).
You can use react-spring (no example in repo), animated (example in repo)
or create custom components that are animated by Pixi itself (e.g. by
ticker).

On Sun, 5 Jan 2020 at 20:4

[2020-01-05 19:06] PByH commented on #161
Thanks for reply! Your answer is very helpful for me :+1:

[2020-01-05 19:06] #161 closed

[2020-01-16 14:39] vojto commented on #156
Getting the same error. Not sure what's going on, because it's part of pretty complex app.

Any update on #47 getting merged in?

[2020-01-16 15:22] nstolpe commented on #156
@vojto I've encountered another issue that seems related to this one. To work around it until 47 is merged, you can try the workaround I've been using, which is to use the PXI Stage class instead. Import [createStageClass](https://github.com/michalochman/react-pixi-fiber/blob/master/src/Stage.js#L72) and call it to get your Stage component.

[2020-01-16 15:30] vojto commented on #156
@nstolpe Thanks for that. I just got #47 running locally, so I'm gonna play with that for a while, and if it fails, I'll try your approach.

FYI for anyone who wants to run this from another branch. I didn't have much luck adding it as Yarn dependency from Git, so what I ended up doing was just opening my `node_modules/` and replacing contents of `cjs` with a copy of built files from another branc

[2020-01-16 19:25] michalochman commented on #156
@vojto I am pretty happy with #47, however I'm a little afraid that the way it works now may give a lot of users heart attacks due to the amount of warnings – I have decided to make these warnings opt-in instead, but extra work will be needed. I'm currently exploring [`React.StrictMode`](https://reactjs.org/docs/strict-mode.html) and if that ends well, I'll be pretty much ready to release 1.0.0

[2020-01-19 16:27] michalochman commented on #156
I have just released `react-pixi-fiber@1.0.0-beta.0` with (#47 merged) if anyone wants to give it a try.

[2020-01-23 20:57] michalochman commented on #156
@vojto @nstolpe were you able to fix your issues with that version? Can we close this issue?

I hope there were no braking changes introduced other than `_app` variable available on class-based `Stage` ref being converted to `React.createRef`.

[2020-01-24 17:00] maerzhase commented on #156
bug seems to be resolved with `react-pixi-fiber@1.0.0-beta.0`. I can't reproduce it anymore.

[2020-01-25 05:06] vojto commented on #156
Works very well for me.

[2020-01-26 01:26] nstolpe commented on #156
@michalochman sorry, just got some time to work on my project. Both issues I mentioned here seem to have been cleared up now.

[2020-01-27 10:27] JoostKiens opened #164 "Error in Safari when re-rendering stage"
Hi! First of all, thanks for the amazing work on this library!

However I'm trying to upgrade from 0.9.3 to 0.12.1 and I'm encountering a bug in Safari 13.0.4. on MacOS.

### Description
A fatal error error occurs in the latest version of react-pixi-fiber in Safari when re-rendering the `Stage`.

### Steps to reproduce
1. Go to [https://codesandbox.io/s/cranky-snowflake-8xrn0](https://codesandbox.

[2020-01-27 11:03] michalochman commented on #164
Hello @JoostKiens, there are no references to `attributes` or `attributes.stencil` in the library itself so it might be an issue with your code. However, there is a known issue when re-rendering hook-based `Stage` component (see #156) which might be what you experience.

You can solve that issue by either installing `react-pixi-fiber@1.0.0-beta.0` or importing class-based `Stage`:

[code]

and the

[2020-01-27 11:05] michalochman commented on #164
Actually, I have edited your code sandbox with the above code and it seems to fix it, so I'm closing this.

[2020-01-27 11:05] #164 closed

[2020-01-27 12:08] JoostKiens commented on #164
Yeah, `createStageClass` works fine. 👍

Thanks for your help!

[2020-01-30 17:20] michalochman commented on #150
@Othreumaru @kresli I think I have managed to fix types to work with both PixiJS v4 and v5, see #166.

[2020-02-03 01:29] 3rd commented on #17
Using `AppContext` breaks ts as well, it's defined as a type.

[2020-02-03 08:25] michalochman commented on #17
@3rd thanks, I missed this! I have just fixed it in #166.

[2020-02-03 15:23] #150 closed

[2020-02-03 15:32] #17 closed

[2020-02-06 05:55] linonetwo commented on #105
duplicated

[2020-02-06 21:37] sheerun opened #167 "How to integrate with external component"
### Description

I'm sorry for bothering. I tried different methods over few hours, but I'm unable to properly integrate https://github.com/Mwni/PIXI.TextInput as custom component of react-pixi-fiber.

Could I ask you for an example how to do this? I'm using create-react-app

[2020-02-06 22:51] sheerun commented on #167
(please not TextInput is capable of retina rendering: https://manuelotto.com/opensource/PIXI.TextInput/demos/demo_default.html)

[2020-02-06 23:12] sheerun commented on #167
Okay so solution is to

1. Use Yarn
2. Resolve pixi.js version to 5 with following in package.json:

[code]

3. Following code:

[code]

I see some slight differences in rendering of focused / unfocused but it's acceptable.

If anyone will solve text rendering difference when focused / unfocused, please let me know!

[2020-02-06 23:12] #167 closed

[2020-02-07 09:00] michalochman commented on #167
@sheerun in PixiJS v4 it's only possible to increase text resolution by setting `resolution` in `PIXI.Application` options. In PixiJS v5 you can set `Text` resolution using `resolution` prop separately.

[2020-02-07 10:02] sheerun commented on #167
Actually setting resolution for App for v4 haven't work for this component. I needed to force v5.

Now it's rendering properly but there's slight difference when focused / unfocused:

https://giphy.com/gifs/hoJ8P3Zl8CHfOzgc73

[2020-02-07 10:32] sheerun commented on #167
adding `webkitFontSmoothing: 'subpixel-antialiased'` to input props helps a bit, but there's still slight difference

[code]

Also GPU usage is high. I hope there's way to re-render only if changes are present.

[2020-02-07 11:08] sheerun opened #168 "Allow custom app to be a function"
### Description

Currently it's possible to pass custom app, but it's not possible to attach it to underlying canvas created by react-pixi-fiber. Ideally this libarry would allow provided app to be function that accepts canvas reference, like so:

[code]

Unless there's another way I don't know about :)

[2020-02-07 11:09] michalochman commented on #167
@sheerun see this:
https://github.com/michalochman/react-pixi-fiber/issues/155#issuecomment-560328566
https://codesandbox.io/s/react-pixi-fiber-manual-rendering-rpfqt

[2020-02-07 11:16] michalochman commented on #168
@sheerun canvas is not created by react-pixi-fiber if you pass your own app – it is created by PIXI.Application not by react so it doesn't make sense for React to inject it to DOM, you can easily do it on your own using [`appendChild`](https://developer.mozilla.org/en-US/docs/Web/API/Node/appendChild) method, e.g. on body.

[2020-02-07 11:18] sheerun commented on #168
@michalochman I'm afraid it is created by react-pixi-fiber:

https://github.com/michalochman/react-pixi-fiber/blob/master/src/hooks.js#L68-L69

[2020-02-07 11:19] michalochman commented on #168
No, it is not:
https://github.com/michalochman/react-pixi-fiber/blob/master/src/hooks.js#L47

The main problem with your proposed solution is that app would be created every time `<Stage />` is rendered.

[2020-02-07 11:21] michalochman commented on #168
Let's leave this issue open as this is an interesting idea generally.

[2020-02-07 11:46] sheerun commented on #168
@michalochman I've impromented proof of concept like this:
https://github.com/sheerun/react-pixi-fiber/commit/e14ecb1b14062cfb7271b21970fdd4f312fc993a

And it seems to work when used like this (app is created only one time):

[code]

You can try it with yarn and:

[code]

[2020-02-07 11:55] sheerun commented on #168
Another API that could be implemented is:

[code]

[2020-02-07 12:51] sheerun commented on #167
FYI I've managed to achieve good performance without custom app, using shared ticker:

[code]

[2020-02-12 15:08] snippet-nicotine opened #169 "Canvas Fallback"
### Description

Hello,

First of all I would like to thanks you for this amazing library, it helps me so much on a professional project.
I need the canvas fallback in case a user doesn't have any hardware acceleration, and I cannot found a way to enable it. It seems to work on clasisical PIXI.js but not on react-pixi-fiber.
Do you know how I can enable it?

### Additional info

- react-pixi-fiber

[2020-02-12 15:23] michalochman commented on #169
Hi @snippet-nicotine, this should work out of the box. I can see in the additional info that you're using PixiJS v5, are you using `pixi.js-legacy` build? Regular build does not have support for canvas renderer, see https://github.com/pixijs/pixi.js/wiki/v5-Migration-Guide#canvas-becomes-legacy

[2020-02-12 15:46] snippet-nicotine commented on #169
Yes I'm using the `pixi.js-legacy` build, but I'm not calling the `PIXI.autoDetectRenderer()`, where I am supposed to call this in  `react-pixi-fiber` application?

This is my application entry point:
[code]

[2020-02-12 18:11] michalochman commented on #169
@snippet-nicotine I do not reproduce, see: https://codesandbox.io/s/react-pixi-fiber-pixijs-v5-renderer-type-tbufe

With WebGL turned on I see:
![image](https://user-images.githubusercontent.com/1628450/74363668-5354fd00-4dcb-11ea-9661-23628c40bcbf.png)

With WebGL turned off I see:
![image](https://user-images.githubusercontent.com/1628450/74363705-6536a000-4dcb-11ea-81fb-4ee890eb931f.png)

[2020-02-12 20:00] snippet-nicotine commented on #169
Yes it's definitively something on my side, I may have something wrong in my env.
@michalochman Thank you for taked time with this!

[2020-02-12 20:29] snippet-nicotine commented on #169
Ok so I solved the problem by removing node_modules and package-lock.json (i've forgotten this one).
https://github.com/pixijs/pixi.js/issues/6256
So now it works great! Thanks again and sorry for the inconvenience!

[2020-02-12 21:35] michalochman commented on #169
No worries, at least now we have this documented in some way 😄

[2020-02-12 21:35] #169 closed

[2020-02-15 14:55] RossKinsella opened #173 "Using ReactDOM.createPortal within the react-pixi-fiber render tree"
I'd like to use the ReactDOM.createPortal API to render a popup-modal in HTML in a separate tree which has access to some state I have buried in my react-pixi-fiber tree.

When I attempt this, I'm getting invariant exceptions, as I am attempting to render HTML within the react-pixi-fiber tree.

Any ideas on how to eject from that renderer for parts of my render tree?

Thanks

[2020-02-15 18:32] RossKinsella commented on #173
I've achieved this by creating another root div in my document which I then render a new React tree to from within the Pixi tree with this helper component:

[code]

[2020-02-15 18:33] #173 closed

[2020-02-16 10:08] michalochman commented on #173
Thanks for the solution @RossKinsella.

FYI I'm looking into proper Portal support for Pixi components this month.

[2020-02-24 16:25] PByH commented on #129
I have faced with a problem, my simple test always throws this error:
` WebGL unsupported in this browser, use "pixi.js-legacy" for fallback canvas2d support.`
Here is an example forked from react-pixi-fiber-template:
https://codesandbox.io/s/loving-firefly-rgh4w
As far as I understand, this error appears because jest uses browser-like environment which has no ability to test webgl rendering.
Am I

[2020-02-24 17:17] michalochman commented on #129
Hi @PByH, try this: https://github.com/michalochman/react-pixi-fiber/blob/develop/config/jest.dev.json#L8-L10

[2020-02-27 09:16] PByH commented on #129
Thanks a lot for quick answer!
I've added pixi.js-legacy to package.json both in devDependencies and "moduleNameMapper", but there is another error:
TypeError: Cannot read property 'AccessibilityManager' of undefined
I've spent a couple of hours to fix that, but there is no success. I've created a repo with a sample project:
https://github.com/PByH/react-pixi-fiber-ts-jest
I'm so grateful if someb

[2020-02-29 18:58] PByH commented on #129
Oh, I finally did it!)
Version with working tests is committed in repo from my previous comment.
Thanks a lot for this great library!

[2020-03-02 16:03] michalochman commented on #129
@PByH great to hear that you managed to get it working. Would you be able to briefly let others know what you did in the comment here just in case you repo is gone? :)

[2020-03-02 17:08] PByH commented on #129
@michalochman Sure :)
I've created a file named "pixi.js" in a project root:
[code]
then I modified jest config in package.json
[code]
This solution is described in this tread: https://github.com/inlet/react-pixi/issues/126

[2020-03-13 01:27] ygorlf commented on #93
Hi guys, I'm struggling to integrate redux in my react-pixi-fiber demo, anyone have a demo of a simple integration that I can look? Thanks!
@michalochman  @nstolpe

[2020-03-13 10:24] michalochman commented on #93
@ygorlf see the simplest example I could come up with: https://codesandbox.io/s/react-pixi-fiber-with-redux-g4k7n

[2020-03-24 21:56] georeith opened #179 "Question/Feature Request: React style event props"
### Description

The functions `pointerdown`, 'mousedown', etc should in my opinion be renamed to `onPointerDown` so that they match the [standard React event API](https://reactjs.org/docs/events.html). I understand that they follow the pixi naming convention but it makes applications written with `react-pixi-fiber` less compatible.

### Use case

My application is one of many possible rendering t

[2020-03-25 09:23] michalochman commented on #179
Hi @georeith, there are multiple reasons:
1. This library was initially successor to [Izzimach/react-pixi](https://github.com/Izzimach/react-pixi) and still uses the same API so it's technically easy to migrate from React 15 to React 16+.
2. Not having to transform props makes this library lighter, which means it's easier to maintain and that it has less surface for bugs. It also makes barrier to

[2020-03-25 09:23] #179 closed

[2020-03-26 09:58] georeith commented on #179
@michalochman are you referring to `customApplyProps` here?

[2020-03-26 15:18] georeith commented on #179
Ah I've just found: https://github.com/Izzimach/react-pixi/blob/a25196251a13ed9bb116a8576d93e9fceac2a14c/src/ReactPIXI.js#L953

[2020-03-26 15:21] michalochman commented on #179
Hi @georeith, it's described here as well:
https://github.com/michalochman/react-pixi-fiber#customapplypropsdisplayobject-oldprops-newprops-optional

It's not very visible in README, sorry about that. I will work on improving documentation after 1.0 release.

[2020-03-26 15:24] georeith commented on #179
Great thanks for the help

[2020-03-26 15:43] georeith commented on #179
One small suggestion is that `applyDisplayObjectProps` be exposed some other way than `this` as it then prevents you from using arrow functions.

[2020-03-26 16:33] michalochman commented on #179
This limitation is intentional as this method is bound to the underlying `PIXI.DisplayObject` instance and only takes 2 arguments (old and new props).

If you want generic function to apply props then [`applyProps`](https://github.com/michalochman/react-pixi-fiber/blob/dce010c193b87dfce9eb14a939d4ae22be2f39ae/src/index.js#L19) (which takes instance, old and new props) is also exported:

[code]

Ho

[2020-05-01 20:58] getkey opened #183 "tint on BitmapText doesn't update when supplied in style"
### Description

[code]
This works perfectly, the tint updates as expected.

But this doesn't. It's set to the color that was specified when it was created, but even when the color change, it doesn't update. I haven't tried the other parameters `font.name` and `font.size` but they might have the issue too.

[code]

### Steps to reproduce

It's a bit of a pain to create a reduced test case for Bitm

[2020-05-02 15:10] michalochman commented on #183
Hi @getkey, thanks for reporting. This is not intuitive behavior, but it is actually to be expected – `style` is only used during initialization of `PIXI.BitmapText` (as constructor argument) and is not available as a property of `BitmapText` later. Because of this, it is not something that can be fixed without implementing custom updates for different components.

Your workaround is the solution

[2020-05-04 09:26] getkey commented on #183
I see! Thanks, closing this issue then. :slightly_smiling_face:

[2020-06-27 22:02] getkey opened #185 "Typescript doesn't compile when used with Pixi version 5.3.0"
### Description

After upgrading to Pixi 5.3.0, I started getting compilation errors:

<details>
<summary>Click to view the full error</summary>

[code]

</details>

I tried to create a [reduced test case](https://codesandbox.io/s/sharp-easley-nge8u?file=/src/Bunny.tsx) but I was unable to reproduce the issue I encountered in my repo.

### Steps to reproduce

1. clone https://github.com/getkey/ble

[2020-06-27 22:45] michalochman commented on #185
Thanks for reporting @getkey. Looks like there's a major TS rewrite of Pixi in 5.3.0.
All types in this project are contained to a single [index.d.ts](https://github.com/michalochman/react-pixi-fiber/blob/27efcff1c9c83ca809fc9eb68b632e252e24f1ce/index.d.ts) file, so I'd start looking there.

I'll not be able to have a look at this for the next couple weeks unfortunately.

[2020-07-02 18:09] ldd commented on #185
I confirm that downgrading to `Pixi 5.2.4` temporarily fixes the issue.

[2020-07-02 19:24] ldd opened #186 "no docs on using PIXI.AnimatedSprite"
### Description
Currently in the examples, you only have a reference to animating a Sprite using Animated. I was wondering if it was possible to use `PIXI.AnimatedSprite` somehow. I also found [this codepen](https://codesandbox.io/embed/0qkll4y5nw) by another user that uses Spring.

Anyways,  my suggestion is to add docs that explicitly say how animations are expected to work with this package.

-

[2020-07-07 19:48] michalochman commented on #186
Hi @ldd, you can use [Custom Components](https://github.com/michalochman/react-pixi-fiber#custom-components) for that.

The AnimatedSprite you link is actually PIXI.Sprite, but animated using [react-spring](https://www.react-spring.io/).

[2020-07-12 19:28] michalochman commented on #185
@ldd @getkey @yuensunn the issue should be fixed in #187, can you confirm it works in your codebase before I merge this? You can also play using the typescript sandbox linked in that PR.

I have checked `pixi.js@5.0.4`, `pixi.js@5.2.4` and `pixi.js@5.3.0` and [test/typescript/index.tsx](https://github.com/michalochman/react-pixi-fiber/blob/27efcff1c9c83ca809fc9eb68b632e252e24f1ce/test/typescript/i

[2020-07-12 22:52] ldd commented on #185
tl;dr: fix works

I can confirm that at least on my project, the pull request fix works with `pixi.js@5.3.0`.

What I did:

- yarn install using [these instructions](https://ci.codesandbox.io/status/michalochman/react-pixi-fiber/pr/187/builds/39100):
`yarn add https://pkg.csb.dev/michalochman/react-pixi-fiber/commit/8a9ff332/react-pixi-fiber
`
- upgrade pixi js version:
`yarn add pixi.js`

Then I

[2020-07-13 09:26] #185 closed

[2020-07-13 09:32] michalochman commented on #185
Released in `react-pixi-fiber@0.14.1`

[2020-07-14 16:37] getkey commented on #185
Sorry, I was on the road. 🙂 I can confirm this works too! Thanks!

[2020-07-26 05:37] nstolpe commented on #156
@michalochman I've been using [1.0.0-beta.1](https://www.npmjs.com/package/react-pixi-fiber/v/1.0.0-beta.1) for a while now, but see that master has been updated more recently. Is the beta still the best branch to stick with?

[2020-07-26 07:45] michalochman commented on #156
@nstolpe I will update the beta branch today if you're an active user.

There are several reasons it has staled:
- the production bundle size is about 10 kB larger than current version (before gzip) and I'm evaluating if it should be that way
- `react-dom` itself has shifted away from aggressive props validation which was the driver behind major update (and the base of it, so I'll have to review `

[2020-07-26 19:09] michalochman commented on #156
Turns out it will take me more time to rebase beta to `master` (looks like I missed some functionality there, like providing `app` prop to `Stage`), but I've started it already so expect it soon.

[2020-07-27 10:16] michalochman commented on #156
@nstolpe I have just published [1.0.0-beta.2](https://www.npmjs.com/package/react-pixi-fiber/v/1.0.0-beta.2) with all features that were missing from the current branch.

[2020-07-28 17:33] nstolpe commented on #156
@michalochman thanks for the update and for doing that so fast. I'll update to the new beta tonight.

[2020-08-18 16:27] ianjsikes opened #191 "Unable to render a stage in a normal React app"
Is it possible to use react-pixi-fiber to create a canvas that is used in part of a larger HTML-based React app? For example, I am building a website with React, and I thought I would just put a `<Stage />` component where I want the canvas to appear. In all the examples, the Stage has to be rendered directly into a canvas using `ReactDOM`'s render. If I try to do what I want, I get the error `"Re

[2020-08-18 19:01] michalochman commented on #191
Hi @ianjsikes, not sure why it would not work for you, please see this sandbox as an example:
https://codesandbox.io/s/tender-dream-stf2x

All I did was to render Stage with some objects in the default codesandbox React template.

[2020-08-18 19:12] ianjsikes commented on #191
interesting. I can replicate that. the issue must be something else related to my setup. my bad. thanks for the help.

[2020-08-18 19:12] #191 closed

[2020-08-20 04:19] KevinSeghetti commented on #103
I am looking for information on using PIXI filters, and writing custom shaders, through react-pixi-fiber.
The code sandbox linked above just shows the background color, so has somehow broken since it was created.
Is there a functioning example I could look at?
(Also, be nice to have an example using react hooks instead of a react class).

[2020-08-20 13:28] michalochman commented on #103
@KevinSeghetti I have updated the codepen to not use external images (this was an issue) and to use the newest version available.

[2020-08-30 19:41] #186 closed

[2020-08-31 14:22] linonetwo commented on #156
I can confirm `"react-pixi-fiber": "^1.0.0-beta.4",` works very well!

Now hot module replacement won't break my game anymore.

[2020-10-22 11:54] eric-ploof opened #193 "Getting warning from ReactDom"
### Description

I get this warning: `Warning: Render methods should be a pure function of props and state; triggering nested component updates from render is not allowed. If necessary, trigger nested updates in componentDidUpdate.` regardless of what I try.

[code]

### Steps to reproduce

1. Load page

### Additional info

- react-pixi-fiber version: 0.14.1
- React version: 16.13.1
- ReactDOM ve

[2020-10-22 16:34] michalochman commented on #193
@eric-ploof what are you trying to do? This is not how you use `render` method from `react-pixi-fiber`. You should use `render` the same way you would use it from `react-dom`. Or just use `render` from `react-dom` and render `Stage` there.

Here it looks like you create component that calls `render` (which is a side effect) and does not return anything. Components should not call side effect in re

[2020-10-22 16:34] #193 closed

[2020-11-26 07:52] kafinsalim opened #195 "Question: TypeError: Invalid value used as weak map key"
### Description
Hi, Thanks for making this cool library.

I got a warning below:

<img width="805" alt="Screenshot 2020-11-26 at 14 33 32" src="https://user-images.githubusercontent.com/33047308/100320852-63556a80-2ff4-11eb-9c92-a99d2d28751a.png">

I see it is says React DevTools, but if I remove all my `react-pixi-fiber` code the warning disappear. So I assume there is something I do wrong with m

[2020-11-26 08:03] kafinsalim commented on #195
BTW my code works but it just has `TypeError: Invalid value used as weak map key` red warning which I have no idea why

[2020-11-26 15:10] michalochman commented on #195
Hi @kafinsalim, weak maps are not used in `react-pixi-fiber` codebase, so not sure what this is about. Are you sure this is not something that comes from your build process or other areas of the app?

Can you try to create a codesandbox with this issue present? You can use this template as a starter: https://codesandbox.io/s/react-pixi-fiber-template-ohk6z

[2020-11-27 04:36] kafinsalim commented on #195
I have this https://github.com/kafinsalim/isometric-map-creator,  if you run this locally with `npm run dev` it will have the same warning in the console. I'll try making codesandbox for this if it is not sufficient

[2020-11-27 11:40] michalochman commented on #195
@kafinsalim thanks, I had a look and this was an issue with your code and React DevTools.

In `EmptyBlock.js` you are exporting:
[code]
which is wrong, you should just export:
[code]
because in this case `Rectangle` returned from `CustomPIXIComponent` is not exactly a React component, it is a string that is later evaluated to your custom component during reconciliation.

The solution here is just

[2020-11-27 11:40] #195 closed

[2020-11-27 23:56] a-type opened #196 "Suspense support"
### Description

Interested in this project, especially utilizing it with Suspense and perhaps Concurrent Mode for some React-based gamedev.

However, it appears your renderer doesn't support some stuff required for Suspense. The React reconciler throws errors about missing / unimplemented methods.

I don't know much about writing custom renderers, but I poked around in the source and at least not

[2020-11-28 00:29] a-type commented on #196
For interested parties, [react-pixi](https://github.com/inlet/react-pixi) seems to support Suspense. [Same sandbox with react-pixi](https://codesandbox.io/s/wandering-cherry-3hojd?file=/src/App.js).

Perhaps their implementation of missing methods may assist in your efforts to support it, if you choose to.

[2020-11-28 09:59] michalochman commented on #196
@a-type thanks for reporting, I will need to update `react-reconciler` dependency to make it work as there are some new methods to support there. I'll try to do it this weekend.

[2020-11-28 13:07] #196 closed

[2020-11-28 13:15] michalochman commented on #196
@a-type see my comment for working version: https://github.com/michalochman/react-pixi-fiber/pull/197#issuecomment-735228912

Fixed and released in `react-pixi-fiber@0.14.2`

[2020-11-30 16:54] GarethChetwood opened #199 "Mask scaling"
Was having an issue with a mask not scaling, stumbled upon this related issue:

https://github.com/pixijs/pixi.js/issues/1978

There they recommend adding the mask to a container with `addChild()`, so it inherits any transforms.

How would we go about doing this kind of thing with react-pixi-fiber?

[2020-11-30 17:44] michalochman commented on #199
Hi @GarethChetwood it depends how you mask look. Can you create sandbox using this template: https://codesandbox.io/s/react-pixi-fiber-template-ohk6z?

[2020-12-01 10:33] GarethChetwood commented on #199
Alright cheers for that, I had a go and added a rounded rectangle and surrounded both (it and the bunny) with a container, then tried to use a ref as the mask:

https://codesandbox.io/s/competent-gould-5xs54

The shape still shows up though, not behaving as a mask. Have I missed something out?

[2020-12-01 11:24] michalochman commented on #199
@GarethChetwood it's because your component does not rerender so the `mask` prop is still `null`. It's better to use callback  ref in this case, for example using `useState` hook, like so: https://codesandbox.io/s/react-pixi-fiber-github-issue199-v6dic :)

[2020-12-01 11:24] #199 closed

[2020-12-11 01:26] huang-yuwei opened #201 "Cannot work in React 17 with `createStageClass`"
### Description
`Cannot read property 'alternate' of undefined` shows when using `createStageClass ` to create a Stage.
To solve the https://github.com/michalochman/react-pixi-fiber/issues/164 issue, I use `createStageClass ` in my App, but it doesn't work after upgrading React to 17x. If I don't use `createStageClass `, it seems to work fine, but then https://github.com/michalochman/react-pixi-fi

[2020-12-11 10:07] michalochman commented on #201
Thanks for the report @huang-yuwei – I'll check this.

[2020-12-11 14:52] michalochman commented on #201
Turns out we can't support both React 16 and React 17 due to changes to `react-reconciler` API changes. I'll have to think how to approach this: either drop support for React 16 or build 2 separate packages.

@huang-yuwei is there a specific reason you need to use `Stage` as class?

[2020-12-11 15:15] huang-yuwei commented on #201
@michalochman
Thank you for the quick investigation.
The reason why I am using `Stage` as a class is for solving the rendering issue in Safari, which is as same as the issue in #164. Otherwise, I prefer using an imported `Stage` as well.

[2020-12-11 15:24] michalochman commented on #201
Aha, interesting. Can you try `react-pixi-fiber@1.0.0-beta.5`? The other issue you are mentioning was not reproduced in `1.0.0` branch.

Don't fear the `beta` tag, it's stable. I was only not able to release it for the public because I didn't have time to document upgrade instructions as some internal stuff in `react-pixi-fiber` and they were used in some projects that I know about.

[2020-12-11 15:56] huang-yuwei commented on #201
Ooh, didn't know `1.0.0-beta.5` is a stable version. I thought it is still unstable so I didn't use it on my project.
It seems like it works like a charm. Thank you for your support.

Although I found another error, and I haven't investigated the reason.
After upload to React 17.x (not matter react-pixi-fiber is 1.0.0-beta.5 or 0.14.2), an error shows if I assign `parentGroup `(feature from `pixi-

[2020-12-11 18:27] michalochman commented on #201
This is a warning shown in development mode, not an error, and it comes from `react-pixi-fiber@1.0.0` version.

I have implemented it to show props that users may have misspelled or used incorrect type. When it was initially implemented, `react-dom` was showing similar warning, then it got removed from `react-dom` (you can use arbitrary props now on HTML element component), so I will either remove

[2020-12-12 01:27] huang-yuwei commented on #201
👌

Sorry that I misreading the version

It is a little bit hard to ignore it during development 😇
Before you made the decision of removing it or making it optional, I probably may not upgrade to `1.0.0-beta.5`

---

Thank you for making this amazing dependency 🙌
It helps a lot, and giving me and my team a power tool to make something possible

[2020-12-12 19:12] michalochman commented on #201
@huang-yuwei I have just published `react-pixi-fiber@1.0.0-beta.6`. The prop type validation mentioned is now only working if you use `<React.StrictMode />`. Additionally, it is possible to mark custom properties as "known", I forgot this was implemented already.

I have added relevant examples:
1. Enable prop type validation in `<React.StrictMode />`: https://github.com/michalochman/react-pixi-fi

[2020-12-13 02:37] huang-yuwei commented on #201
@michalochman
Thank you again for the amazingly fast support.
I have tied the `1.0.0-beta.6` in my project, and it works without any additional warnings.
Besides, the `React. StrictMode ` and `CustomPIXIProperty ` are helpful as well 🙌

[2020-12-30 04:39] LukeWood opened #202 "usePixiTicker documentation"
Hey there michalochman!

I love react-pixi-fiber!  Thanks for making it!

This isn't a true issue but it would be great to have some formal examples/documentation on the hooks exposed!  I'd love to use the pixi ticker hook.

[2020-12-30 04:45] LukeWood commented on #202
oops - found the example!

[2020-12-30 04:45] #202 closed

[2021-01-15 12:39] huang-yuwei opened #203 "Error shows when assigning `sortableChildren ` to Container"
### Description
`Warning: Invalid value for prop 'sortableChildren' on '<Container />'.` error shows when assign the `sortableChildren ` to `Container `

### Steps to reproduce
https://codesandbox.io/s/sortablechildren-error-in-react-pixi-fiber-vw4x5?file=/src/App.js
1. assign the `sortableChildren ` to `Container`

### Additional info

- react-pixi-fiber version: 1.0.0-beta.6
- React version: 17.

[2021-01-15 14:12] michalochman commented on #203
Hi @huang-yuwei, is the warning shown when rendering in StrictMode as per discussion in https://github.com/michalochman/react-pixi-fiber/issues/201#issuecomment-743802381 or is it always shown?

[2021-01-15 15:52] huang-yuwei commented on #203
Hi, @michalochman thank you for the quick response.
It seems like it is always shown, so I don't think it is related to the #201.
https://codesandbox.io/s/sortablechildren-error-in-react-pixi-fiber-vw4x5?file=/src/App.js

[2021-01-15 16:04] michalochman commented on #203
Ok, looks like I have only disabled one type of warnings when not in strict mode. I will change it to not show any warnings unless rendered in strict mode.

[2021-01-15 16:51] huang-yuwei commented on #203
BTW, is there any way that I can find the v1 code in this repository?
Sincerely hope I can contribute to this repository 🙂

[2021-01-15 18:55] michalochman commented on #203
v1 is on the `develop` branch

[2021-01-18 17:45] michalochman commented on #203
@huang-yuwei check out `react-pixi-fiber@1.0.0-beta.7` – there should be no warning unless you use `React.StrictMode`.

[2021-01-18 17:45] #203 closed

[2021-01-19 00:30] huang-yuwei commented on #203
Thank you for fixing it in such a short time🙏

[2021-03-05 09:35] myktsk opened #204 "Stage would not render correctly when resizing window"
### Description
The `Stage` with hook would not render correctly(details below) on resizing the window if the continuous ticker is stopped (`ticker.stop()`)  and  `render` manually triggered. We would want to stop the ticker because of performance concerns (i.e. We don't want our app to constantly keep rendering if there is no change in the state of the app).
Switching to a class-based stage with

[2021-03-05 16:44] michalochman commented on #204
@myktsk it looks like when using function Stage, your `App` component has `componentDidUpdate` called before the `Stage` gets updated, so essentially you call `app.render` before Stage had  chance to call `resize` on the renderer:

<img width="590" alt="Screenshot 2021-03-05 at 17 38 31" src="https://user-images.githubusercontent.com/1628450/110145851-27dbf080-7dda-11eb-92b6-a515c651e562.png">

Wh

[2021-03-08 00:57] myktsk commented on #204
@michalochman Thank you for your quick reply and thorough explanation!
`setTimeout` indeed fixed the resizing issue with Chrome and Safari, but the issue with Firefox seems to remain...
I will stick with the class-based Stage for now as that works completely fine with our app.
But it would be great if you could take a look at it at some point. :)

[2021-03-21 20:44] michalochman commented on #204
Fixed in `react-pixi-fiber@1.0.0-beta.8`.

[2021-03-21 20:44] #204 closed

[2021-04-04 14:50] getkey commented on #183
`font` has been deprecated, so the workaround no longer works.

[2021-04-06 14:44] michalochman commented on #183
Hi @getkey, `font` has been deprecated but you can still set tint using `tint` property, just extract it from `style` you are using. Is this workaround enough for you?

From the perspective of `BitmapText` component, the `style` property should probably not be used in react, because it is not how the updates are done by PixiJS – style is used only in `BitmapText` constructor, if you want to update

[2021-04-08 19:17] getkey commented on #183
Oh great! I overlooked the new setters. Thanks, closing!

[2021-04-08 19:17] #183 closed

[2021-04-09 09:01] michalochman commented on #183
Yes, I noticed that.

Ideally `style` prop for `BitmapText` is handled in a special way by `react-pixi-fiber` or at least `style`/`style.fontName` is automatically generated from other props, I'll add this as an improvement issue.

[2021-04-09 09:02] michalochman opened #208 "Improve handling of BitmapText style prop"
See discussion in #183

[2021-05-01 16:00] kresli opened #210 "TS 4.2.3 and PIXI.js 6.0.2 throws TS error"
![image](https://user-images.githubusercontent.com/3826097/116787822-44c13700-aa9e-11eb-9c46-13ebb8bdf228.png)
### Additional info

- react-pixi-fiber version: 0.14.2
- React version: 17.0.2
- ReactDOM version: 17.0.2
- PixiJS version: 6.0.2
- @types/react: 17.0.4

[2021-05-01 16:01] kresli commented on #210
seems like all the props are expected as `((event: InteractionEvent) => void) | undefined`

[2021-05-01 16:09] kresli commented on #210
here is the line causing the issue
https://github.com/michalochman/react-pixi-fiber/blob/fcf4fddab981c5eabf623697325ab579b34cad52/index.d.ts#L107

[2021-05-02 09:40] michalochman commented on #210
Hi @kresli, thanks for reporting. The purpose of this type is to support props like `pointerdown` or `mouseup`, etc. when display object has `interactive` set to `true`, see [ClickExample/index.js](https://github.com/michalochman/react-pixi-fiber/blob/fcf4fddab981c5eabf623697325ab579b34cad52/examples/src/ClickExample/index.js).

Do you know the last version of TypeScript and PixiJS that worked cor

[2021-05-02 09:57] michalochman commented on #210
I have narrowed down the issue to `InteractionEventTypes` being removed in PixiJS v6. We will either need to hardcode the list of events to work as props or find another way to support them.

[2021-05-04 09:25] michalochman commented on #210
@kresli I fixed it in `react-pixi-fiber@1.0.0-beta.9`

[2021-05-04 11:10] kresli commented on #210
I can confirm it has been fixed in beta.9

Thank you

[2021-05-04 11:19] kresli opened #211 "Providing app for <Stage> doesn't create canvas"
Following will not create a new canvas that should be added to a parent component. Is there some workaround for it?

[code]
and rendered tree looks like
[code]
- react-pixi-fiber version: 0.14.2 & 1.0.0-beta.9
- React version: 17.0.2
- ReactDOM version: 17.0.2
- PixiJS version: 6.0.2
- @types/react: 17.0.4

[2021-05-04 13:08] michalochman commented on #211
Hi @kresli, this is intended behaviour.

When you provide `app` via prop, you are expected to place the canvas in the DOM yourself. One of the reasons is that you can pass `view` to `PIXI.Application` options, which may be canvas already existing somewhere in the DOM. `react-pixi-fiber` has no way knowing whether you want to move it to new parent or not, so the decision is left to the user.

There

[2021-05-04 13:08] #211 closed

[2021-05-09 00:13] kresli opened #218 "context not available in stage's children"
[code]

I would expect context will be available in Wrapper.
### Additional info

- react-pixi-fiber version: 1.0.0-beta.9
- React version: 17.0.2
- ReactDOM version: 17.0.2
- PixiJS version: 6.0.2

[2021-05-09 16:05] kresli commented on #218
I think this is an issue of react not react-pixi-fiber
https://github.com/facebook/react/issues/17275
feel free to close the ticket

[2021-05-10 06:46] michalochman commented on #218
Hi @kresli, yes, this is a react issue. Contexts are not shared between different renderers. See #93 for workarounds. Also mentioned in #145.

[2021-05-23 10:41] BasixKOR opened #221 "`prop-types` is not specified in dependencies"
### Description
This library uses `prop-types` in its source code without listing it as dependencies, which breaks Yarn PnP and generally discouraged.

### Steps to reproduce

1. Enable Yarn PnP
2. `yarn add react react-dom react-pixi-fiber pixi.js`
3. try to render `<Stage />`

### Additional info

- react-pixi-fiber version: 0.14.2
- React version: 17.0.0
- ReactDOM version: 17.0.0
- PixiJS vers

[2021-05-23 11:02] michalochman commented on #221
Hello @BasixKOR, thanks for reporting. Is `prop-types` the only offending library or are there more to be listed as dependencies?

[2021-05-24 14:09] BasixKOR commented on #221
It seems like there's no unlisted dependencies other than prop-types. Do we need it though?

[2021-05-25 09:36] michalochman commented on #221
Yes, `prop-types` are used to validate `Stage` props.

I will add them to dependency list.

[2021-05-30 18:46] michalochman commented on #221
Fixed in `react-pixi-fiber@0.14.3`.

[2021-05-30 18:46] #221 closed

[2021-07-03 14:19] michalochman opened #225 "Invalid type of ref of Stage"
### Description

What I'm actually doing in the ref function is store a reference to the `stage._app` so I can use it in other contexts like automated tests. This has been working well for me in the stable versions. However, I notice that now, I need to do `stage._app.current` to get to the actual application object now. However, the typings don't seem consistent with that change, for example, I d

[2021-07-04 14:26] zenblender commented on #225
Thanks @michalochman here's a little more context:

I'm "saving" an instance of the pixi App (pulled from the Stage object) so I can use it in other contexts like Cypress tests. I'm doing this by setting a property on `window`. This is basically what I have working in earlier versions of `react-pixi-fiber`:

[code]

[2021-07-05 08:54] michalochman commented on #225
@zenblender can you check if this fixes your issue?

https://codesandbox.io/s/react-pixi-fiber-github-issue225-9s6sl?file=/src/App.tsx

[2021-07-05 16:22] zenblender commented on #225
Thanks @michalochman !

I've been experimenting with this and it does seem to be helping. My project now runs with this version of `react-pixi-fiber` and latest `@types/react` and `@types/react-dom` after making adjustments to how I reference the `PIXI.Application` object. I am a little confused about the use of a `RefObject` here. I am used to the argument to a ref function always existing, where

[2021-07-05 19:13] zenblender commented on #225
Maybe a related question:
Should I be using `StageRef` as the type for the argument to my ref function, or would `StageRef | null` be more correct?

[2021-07-06 08:42] michalochman commented on #225
@zenblender try `typeof Stage`

[2021-07-06 08:46] michalochman commented on #225
That's how `ref`s work – if you didn't initialise it with value when using [`useRef`](https://reactjs.org/docs/hooks-reference.html#useref) then you always need to check if `ref.current` is set.

[2021-07-06 13:19] zenblender commented on #225
That makes sense, regarding `.current`.

Minor point to clarify, if I use `typeof Stage` in the ref function declaration, this seems to imply that `stage` will always be set, but on unmount, it will be `null`. Would it be better to use `typeof Stage | null` so I would be forced to (properly) use the `?` optional chaining?

For example:

[code]

Thanks!

[2021-07-06 13:57] zenblender opened #227 "usePixiApp seems to now return null"
### Description

The `usePixiApp` hook typings imply that a `PIXI.Application` is always returned, but I'm seeing that with 1.0.0 beta, `null` is sometimes returned, so it seems that at least the typings need updating.

A typical use case for me is to use this hook to get a reference to the app instance, which I then use to manage animation functions. However, I notice this isn't working as it use

[2021-07-07 12:48] michalochman commented on #227
Thanks for the report @zenblender, I'll have a look. I want to keep the changes needed to upgrade to the minimum.

[2021-07-11 11:20] michalochman commented on #225
Yes, I think you're right that it's better to use `typeof Stage | null` to factor for such scenari.

[2021-07-11 11:21] #225 closed

[2021-07-11 12:46] michalochman opened #228 "PIXI.ObservablePoint is not assigned directly, but its values are copied"
### Description

`PIXI.ObservablePoint` should be assigned directly to PIXI objects. Instead the `x` and `y` values are copied to regular `PIXI.Point`.

### Steps to reproduce

1. Open `examples/src/PointsExample/PointsExample.js`.
2. Hover over randomly placed bunny.
3. Bunny should escape to another position, but it is not.

### Additional info

- react-pixi-fiber version: `0.14.3` / `1.0.0-beta

[2021-07-11 14:10] michalochman commented on #227
@zenblender looking at your example you are not using `usePixiApp` correctly – you can only call it in components that are children of `Stage`, yet you call it in component that renders `Stage`.

[2021-07-11 14:29] michalochman commented on #227
I've updated your sandbox: https://codesandbox.io/s/pedantic-albattani-4yz2i?file=/src/canvasBackground.tsx.

It is working correctly, so I will close this issue.

[2021-07-11 14:29] #227 closed

[2021-07-11 14:42] zenblender commented on #227
Thanks @michalochman !
I have been trying to upgrade to the 1.0.0 beta on my larger project, and discovered places inside `Stage` where `app` was `null` when returned from `usePixiApp()`. It appeared as though something had changed between these versions, as some animations worked fine while others stopped. I'm going to try to nail down that specific scenario and show that to you if it seems there

[2021-07-11 14:47] michalochman commented on #228
Looks like this cannot be fixed any more. It used to work in PixiJS v4, but now there is a setter in `DisplayObject` that always uses `copyFrom`.

Removed mentioned example instead in e3c8bb7.

[2021-07-11 14:47] #228 closed

[2021-07-11 14:49] michalochman commented on #227
@zenblender you are most certainly welcome to create sandbox with an example of this not working – if this indeed happens I will be easily able to reproduce it and fix.

[2021-07-11 14:52] michalochman commented on #227
I think you may have a point in throwing an error in such scenario, I'll see if this can be done.

However I will not be considering adding `| null` to the typings unless we can demonstrate it is really what is happening. I think it would be an unnecessary penalty for everyone using this hook correctly, i.e. in descendants of `Stage`.

[2021-07-11 14:54] zenblender commented on #227
I agree, throwing an error seems best. I think this is a very minor thing, but might save someone from some confusion.

[2021-07-11 15:57] zenblender opened #229 "Possible race condition problem in 1.0.0 beta"
### Description

In doing some experiments, I created a (admittedly contrived, not 'best practice') example where a `react-pixi-fiber` component is repeatedly added and removed from the render tree.

On the stable version of `react-pixi-fiber`, it works as intended and does not throw errors.

Here's a codesandbox demonstrating it "working":

https://codesandbox.io/s/xenodochial-http-q04u9

Then I

[2021-07-22 13:42] zenblender commented on #229
Hey @michalochman just wondering if you had a chance to look at this. I've not been able to upgrade to `1.0.0` and I think it is because of issues similar to this one. Thanks!

[2021-07-23 14:47] michalochman commented on #229
Hi @zenblender, I had a brief look, but it was not obvious why it is happening. I have yet to dedicate more time to it, but since the example is contrived I didn't make it a priority.

Is this also happening for you in realistic scenarios?

[2021-07-23 14:58] zenblender commented on #229
I'm not totally sure @michalochman. I was actually trying to replicate a real issue I'm having with `1.0.0` beta from my full application (a game), simplified to demonstrate just that problem. In doing so, I ran across this scenario. I typically don't use state in my app, and instead use Redux and `useSelector` to drive the rendering of components. Whether or not the codesandbox demonstrates the e

[2021-07-25 12:28] michalochman commented on #229
@zenblender I found that in your example we're sometimes dealing with `PIXI.DisplayObjects` that are destroyed, you can easily confirm it by checking `containerRef.current?._destroyed` in your example.

However, the root issue is not a race condition in `react-pixi-fiber`, but rather in your `containerRefFn` that you pass to `<Container ref={containerRefFn} />`.

That function receives null when t

[2021-07-25 12:28] #229 closed

[2021-07-25 13:20] zenblender commented on #229
Thanks for taking a thorough look. I see what you're saying. I was curious as to why the stable version doesn't throw any errors, but I see that in any case, there's an issue with the logic on my end.

I will try to find time for another attempt to identify issues preventing me from upgrading to `1.0.0`. Until then, I am blocked from doing some dependency upgrades.

Thanks again for your time!

[2021-07-25 19:54] michalochman commented on #229
I am not 100% certain but, this might be related to changes to `react-reconciler` or even `react`, not necessarily to changes to `react-pixi-fiber`. I would check if it was not time consuming to upgrade all the dependencies of current "stable" branch.

[2021-08-05 12:05] michalochman commented on #227
@zenblender starting from `react-pixi-fiber@1.0.0-beta.12`, `usePixiApp` will throw an error when used outside of `<Stage />`.

[2021-09-09 18:24] linonetwo commented on #48
Discussing continued here https://github.com/michalochman/react-pixi-fiber/discussions/237

[2021-09-30 19:05] antoniobrandao commented on #164
This was also happening for me.

Using createStageClass() and/or react-pixi-fiber@1.0.0-beta.X (up to beta13) didn't work for me, problem persisted.

I was using Safari 14.x. I noticed in the console that only WebGL1 was active, not WebGL2.

After activating WebGL2 in Safari (via Develop menu > Experimental features), the problem is gone.

So it was happening specifically when only WebGL1 is activ

[2021-09-30 21:02] michalochman commented on #164
@antoniobrandao can you provide a sandbox (eg. using https://codesandbox.io/) proving this is an issue of react-pixi-fiber and not just PixiJS?

[2021-10-01 13:45] antoniobrandao commented on #164
@michalochman hey Michal, thanks for the reply. I unsuccessfully tried to create a codesandbox project, and gave up. So I created a stripped-down version of my project where you can see only the little bit that matters.

Repo is here: https://github.com/antoniobrandao/hb3

It's a Gatsby project. Just run `yarn` and then `yarn develop` and it should run fine. It may not be a sweet codesandbox, but

[2021-10-01 15:38] michalochman commented on #164
@antoniobrandao my main concern was whether it is a react-pixi-fiber issue or just PixiJS issue, i.e. try to do the same but
 with bare PixiJS code, without using react-pixi-fiber at all.

For example, here https://github.com/antoniobrandao/hb3/blob/master/src/components/sections/home/pixireact/pixiBg.js#L30-L37 you could just return `<ParticlesCanvas ref={someRef} />` and then do what you want in

[2021-10-04 07:11] qpwo opened #239 "Performance comparison with react-pixi?"
I searched the repo and google and could not find performance comparisons between react-pixi and react-pixi-fiber. Know of any? (Also could not find any other kind of comparison or explanation of differences.)

[2021-10-04 08:09] michalochman commented on #239
@qpwo I don't know about that, but if you want to see what performance is possible to achieve with `react-pixi-fiber`, you will find various Bunnymark examples in this repo:
* https://github.com/michalochman/react-pixi-fiber/blob/0c70c8b5c7a6701e3db07165e4b98957fd5a8507/examples/src/BunnymarkExample/index.js
* https://github.com/michalochman/react-pixi-fiber/blob/0c70c8b5c7a6701e3db07165e4b98957fd

[2021-11-25 08:14] pavelpave opened #240 "TypeError: Cannot read properties of null (reading 'stencil') at ContextSystem.push../node_modules/@pixi/core/dist/esm/core.js.ContextSystem.validateContext (core.js:5206)"
### Description
using the portals of react and shadow dom, the application crashes with an error (in the name)
to play, you must try to call the "modal window" working on the shadow dom and portals

<img width="704" alt="Снимок экрана 2021-11-25 в 11 06 37" src="https://user-images.githubusercontent.com/40344085/143403245-fea5f08c-6689-43f0-8be2-e55210efd02e.png">

### Steps to reproduce

1.render

[2021-11-25 08:27] michalochman commented on #240
Hi @pavelpave the steps to reproduce are incomplete, it's impossible to run them without access to the code. Please provide minimal scenario to reproduce using e.g. [code sandbox](http://codesandbox.io/), there's a template you can use either in [JavaScript](https://codesandbox.io/s/react-pixi-fiber-template-ohk6z) or in [TypeScript](https://codesandbox.io/s/react-pixi-fiber-typescript-template-61

[2021-11-25 08:30] #239 closed

[2021-11-25 13:03] pavelpave commented on #240
I’ll come and sign in the sandbox after work, I decided to quickly sketch it out so that I don’t forget

[2021-12-06 06:11] Siva-at-OFS opened #241 "NPM installation of library react-pixi-fiber@beta@1.0.0-beta.5 throws error"
### Description

![image](https://user-images.githubusercontent.com/84328892/144795426-5cf7c191-0e18-439c-aea2-54486f8d0b8f.png)

It does work on addition of '--legacy-peer-deps'.

But any suggestion to avoid such initial error is highly appreciated.

### Steps to reproduce

1. (If you haven't already) Just upgrade the react version to 17.0.0,
2. Try to import react-pixi-fiber@beta@1.0.0-beta.5

#

[2021-12-06 14:32] michalochman commented on #241
Thanks for the report @Siva-at-OFS, you are right, the react peer dependencies are incorrectly listed, it should also cover versions 17 and higher. I will fix that.

[2021-12-06 14:37] michalochman commented on #241
Actually, `react-pixi-fiber@beta@1.0.0-beta.13`, which is the latest one already lists:

[code]

[2021-12-06 17:06] Siva-at-OFS commented on #241
Thanks for quick response @michalochman .

Is react-pixi-fiber@beta@1.0.0-beta.13 stable version? I saw in your comments that beta.5 is stable.

[2021-12-06 17:16] michalochman commented on #241
Yes, it is. We started stress testing it on production in a large app on Friday and so far no issues. We plan release it as officially stable soon, we just need to prepare release notes about breaking changes for people using advanced features.

[2021-12-09 16:03] michalochman commented on #240
@pavelpave do you have an update on that?

[2022-01-06 23:07] kresli opened #245 "1.0.0-beta.13 missing index.es.js"
I have trouble to use the package with `ViteJS` as `index.es.js` is missing
![image](https://user-images.githubusercontent.com/3826097/148465077-a5087592-4aaa-4485-96ff-e23d46268ae9.png)

[2022-01-07 10:20] michalochman commented on #245
Hi @kresli, right – it's missing in the `files` section. I'll add it and release new version.

[2022-01-07 10:28] michalochman commented on #245
@kresli I have just released `react-pixi-fiber@1.0.0-beta.14`.

[2022-01-07 10:28] #245 closed

[2022-01-07 10:29] michalochman commented on #240
Closing due to inactivity.

[2022-01-07 10:29] #240 closed

[2022-01-07 20:51] cmfcmf commented on #245
I think you also need the `es/` folder to `files` - while the `index.es.js` now exists, it references files in the `es` folder that don't exist.

[2022-01-08 15:44] michalochman commented on #245
Nice catch @cmfcmf, whoops! 🤦‍♂️

Fixed in `react-pixi-fiber@1.0.0-beta.15`

[2022-01-19 21:06] kresli commented on #245
That fixed it but I'm unsure if thats is enough as
![image](https://user-images.githubusercontent.com/3826097/150213311-5eff59b0-1c83-4ac7-a5cd-8a0ae289a641.png)
My wild guess `extras` `particles` and `mesh` are plugins and they are not registered.

[2022-01-20 09:42] michalochman commented on #245
These are from PixiJS v4 and they are conditionally used. See how an instance of [`BitmapText`](https://github.com/michalochman/react-pixi-fiber/blob/9ba177c7148ad8f5e5de0560901f8f04df2230fd/src/ReactPixiFiberComponent.js#L22-L25) is created for example.

Do you have any ideas how to fix it?

On one hand would prefer not to break compatibility with PixiJS v4, but on the other hand it is already 2

[2022-01-20 13:36] kresli commented on #245
Could be those dynamically imported like import("mesh")? Just guessing here as I never did that

[2022-01-20 13:46] kresli commented on #245
do we really need to import them? As developer could install them as perDependency if necessary

[2022-01-20 14:37] michalochman commented on #245
They are not imported per se, what is imported in source coude is: `import * as PIXI from "pixi.js";`.

Perhaps it is the bundler (rollup) that changes the import for the `es` output format. I don't know how to fix it.

[2022-01-20 18:54] kresli commented on #245
For now, I'm using `patch-package` on removed imports.

[2022-02-01 14:02] petertellgren opened #247 "Error: Vite(esbuild) unable to find matching export in PIXI.js"
### Description
Started a fresh project and installed react-pixi-fiber and tried the basic rotating bunny example.

### Steps to reproduce

1. open [this stackblitz](https://stackblitz.com/edit/vitejs-vite-ndejqr?devtoolsheight=33&file=src/App.tsx)
2. run `yarn dev` in the console

### Additional info

- react-pixi-fiber version:  1.0.0-beta.15
- React version: 17.0.2
- ReactDOM version: 17.0.2
-

[2022-02-01 15:23] michalochman commented on #245
@kresli can you share more details please?

[2022-02-01 15:23] michalochman commented on #247
Hi @petertellgren, there seems to be some issue with how ES bundle is created by rollup, not sure how to fix it.
Leaving this open until it is fixed.

Related discussion in #245.

[2022-02-01 18:37] petertellgren commented on #247
@michalochman thanks for the fast reply.. I don't thing rollup has anything to do with this but rather think it's an esbuild thing. rollup is not involved when running Vite in dev mode as far as I know, but i might be wrong..

I've posted about the issue in the vite discord help channel, perhaps some kind knowledgeable soul can help me on the right track.

[2022-02-01 19:28] michalochman commented on #247
Rollup is involved in creating es build for `react-pixi-fiber` and it outputs named imports that are non-existent in PixiJS v6. This causes the es bundle file invalid.

The app you are building is consuming this invalid bundle which results in the error you have included in the report. If possible, please import either UMD or CJS bundle.

[2022-02-01 22:26] petertellgren commented on #247
Ahh I see, sorry for being noob and not understanding all this, and thanks for laying it out for me.

Any suggestion how to go about using UMD or CJS with vite and react?
is CJS just adding it as <script> tag in my HTML file?

[2022-02-02 12:29] michalochman commented on #247
Sorry, but I have no experience with Vite.

You can try importing using:
`import { Stage } from "react-pixi-fiber/index.js"`
instead of:
`import { Stage } from "react-pixi-fiber"`

[2022-02-14 19:20] guillaumebrunerie commented on #247
Just wanted to say that I have the same problem with webpack and that this workaround fixed it.

[2022-02-17 10:15] kresli commented on #245
sorry for late replay.
I'm using https://www.npmjs.com/package/patch-package and manually remove those imports from `react-pixi-fiber` file in node_modules.

[2022-02-17 10:20] kresli commented on #247
quick workaround to make it work with vite
https://github.com/michalochman/react-pixi-fiber/issues/245#issuecomment-1042786565

[2022-03-20 16:35] nosachamos opened #254 "Attempting to compile an app with PixiJS 5.3.11 or 6.2.2 and the latest beta 15 result in an error."
### Description

Attempting to compile an app with PixiJS 5.3.11 or 6.2.2 and the latest beta 15 result in an error about:

[code]
### Steps to reproduce

I see warnings about this in webpack, and errors if compiling with rollup.

This issue seems fixed in react-pixi, here:

https://github.com/inlet/react-pixi/issues/115

Hopefully that thread has more details, but seems like react-pixi-fiber is r

[2022-03-20 16:39] nosachamos commented on #254
I found that importing from `react-pixi-fiber/index.js` solves the issue as the problem seems related to the es bundle.

Another issue is already tracking the resolution so I'll close this one. Thanks!

[2022-03-20 16:39] #254 closed

[2022-06-14 08:54] #241 closed

[2022-06-14 11:53] michalochman commented on #247
I have just published `react-pixi-fiber@1.0.0-beta.16`.

The only change is that I have updated rollup dependencies. It looks like rollup now leaves `import * as PIXI from 'pixi.js';` as is which should solve the issues.

@kresli @guillaumebrunerie @petertellgren does it fix es bundle for you without having to resort to the workaround mentioned?

[2022-06-14 11:54] #247 closed

[2022-06-14 17:41] guillaumebrunerie commented on #247
Unfortunately it did not make a difference for me, I still get the following warning (plus three other similar warnings) if I remove the `/index.js` at the end of the import path.
[code]
(I can’t reopen the issue

[2022-06-14 19:06] guillaumebrunerie commented on #247
Ah, I don’t think it actually ever prevented the build for me, sorry for the confusion, but the warning is displayed as a full screen overlay on top of my app, and even though I can close it, it reappears every time a file is changed, so it is pretty annoying :)

![Skärmbild från 2022-06-14 21-01-52](https://user-images.githubusercontent.com/787865/173668777-df4fcc95-4423-49d4-aba1-41bec56849b4.pn

[2022-07-01 11:33] guillaumebrunerie commented on #247
@michalochman I'm using Webpack, the config (and the rest of the code) is available here: https://github.com/guillaumebrunerie/LD50/blob/main/webpack.common.js.
But the trick with adding `/index.js` at the end of the import paths works well for me for getting rid of the warning.

[2022-07-04 18:39] jnsmalm opened #258 "Is this project dead?"
Is it?

[2022-07-05 11:54] michalochman commented on #258
Hi @jnsmalm, it's not dead. There's been a rewrite on the `develop` branch with multiple beta releases. We were testing it for over a year now and will release it as 1.0.0 version some time soon. We've been just busy with other stuff. We have some plans for future updates as well.

[2022-07-19 15:38] michalochman commented on #156
`react-pixi-fiber@1.0.0` released.

[2022-07-19 15:38] #156 closed

[2022-07-19 15:38] michalochman commented on #201
`react-pixi-fiber@1.0.0` released.

[2022-07-19 15:38] #201 closed

[2022-07-19 15:38] michalochman commented on #210
`react-pixi-fiber@1.0.0` released.

[2022-07-19 15:38] #210 closed

[2022-07-19 15:40] #136 closed

[2022-08-03 19:02] joukosaastamoinen opened #279 "Webpack complains about missing exports in pixi.js"
### Description

A bunch of errors about missing exports in `pixi.js` occur when attempting to compile an app that uses the latest versions of `pixi.js` and `react-pixi-fiber`:

[code]

### Steps to reproduce

1. Import and render a `<Stage>` from `react-pixi-fiber`
2. Compile and run the app

### Additional info

- react-pixi-fiber version: 1.0.1
- React version: 18.2.0
- ReactDOM version: 18.2.0

[2022-08-03 19:54] joukosaastamoinen commented on #279
I managed to make the error go away by ejecting my test app (which was created using `create-react-app`) and setting the `strictExportPresence` Webpack option to `false`.

[2022-08-04 09:10] michalochman commented on #279
Hi @joukosaastamoinen, this is because the build tool is overly cautious. The code being executed is put inside `try...catch` block so the code itself will not break, but we need to use this export to support PixiJS version 4.

As a workaround you can also import CJS build instead of ES build to fix that without, the this comment https://github.com/michalochman/react-pixi-fiber/issues/247#issuecom

[2022-08-04 09:10] #279 closed

[2022-08-04 09:11] michalochman commented on #258
Btw, version 1.0.0 was already released.

[2022-08-04 12:06] joukosaastamoinen commented on #279
@michalochman Ah ok, makes sense. Thank you for the explanation and workaround!

[2022-08-19 12:39] foundrium opened #280 "Could not resolve dependency: peer react@"^17.0.2" from react-reconciler@0.26.2"
### Description
When I install the latest version `1.0.1` alongside React 18, there are downstream dependency errors. I believe this is due to `react-reconciler` being at version `0.26.2` in `react-pixi-fiber` which has a peer dependency on React of version 17 instead of 18. See [here](https://github.com/facebook/react/blob/0dedfcc681d7963c5d4d138dc8eba69539a56015/packages/react-reconciler/package

[2022-08-19 15:20] michalochman commented on #280
Hi @foundrium, the version of `react-reconciler` currently used should work with React 18. All examples in this repo and sandboxes shared in README are using React 18.

Managing versions of dependencies is hard as you can see. The dependency we use says it's incompatibe, while it is ;)

We want to change the structure of this repository and exported code to mitigate compatibility issues with diffe

[2022-08-25 16:52] ImranBugCMG commented on #202
can you share the link of the example?

[2022-08-25 16:59] LukeWood commented on #202
https://reactpixi.org/hooks

On Thu, Aug 25, 2022 at 9:52 AM Imran Bughio ***@***.***>
wrote:

Sent from mobile,
Please excuse any typos.

[2022-08-26 08:56] michalochman commented on #202
Hi, you can find many examples here:
https://github.com/michalochman/react-pixi-fiber/tree/ba7de4a0b6573389218da303ac4d70de46770ad6/examples/src

Some hooks are used here:
https://github.com/michalochman/react-pixi-fiber/blob/ba7de4a0b6573389218da303ac4d70de46770ad6/examples/src/HooksExample/index.js

I think I can migrate all examples from repository into CodeSandbox. I want to keep them in the r

[2022-09-17 15:53] kresli opened #285 "Stage is not compatible with the React's StrictMode"
### Description

### Steps to reproduce

1. Wrap `<App/>` with `<React.StrictMode> in your examples

### Additional info

- react-pixi-fiber version: 1.0.2
- React version: 18.2.0
- ReactDOM version: 18.2.0
- PixiJS version: 6.5.3

Using StrictMode is a good practice but not necessary. However, a warning not to use strict mode in docs would be handy.

[2022-09-20 08:52] michalochman commented on #285
Thanks @kresli, it worked in React 17, so I guess something has changed in the reconciler with regards to `StrictMode`. Leaving this open until we develop resolution for compatibility issues between different React and PixiJS versions.

[2022-10-09 20:48] lekzd commented on #285
getting an error with <React.StrictMode> wrapper:

prevProps here in undefined
https://github.com/michalochman/react-pixi-fiber/blob/master/src/Stage/hooks.js#L82

react-pixi-fiber: 1.0.2

[2022-10-11 10:00] michalochman commented on #285
Thanks @lekzd for pointing where the issue is, I will have a look at that.

[2022-10-11 11:23] michalochman commented on #285
Hi @kresli and @lekzd, I've included a fix in #291. You can verify using the CodeSandbox links in the PR comment. I would be grateful if you could verify using a scenario that is not one of this repo examples.

[2022-10-19 10:13] #285 closed

[2022-10-19 10:20] michalochman commented on #285
Fixed in `react-pixi-fiber@1.0.4`.

[2022-10-19 23:04] lekzd commented on #126
my workaround for this situation:

1. make a helper function createCustomComponent
[code]

2. use it as component inside another one React component to have a state, lifecycle, etc
[code]

[2022-10-30 22:56] SelfDevTV opened #299 "Pointer Events don't fire at all"
My very simple example application doesn't fire the onpointerdown event at all:

[code]

When I click the sprite, it doesn't show a log message. The rotation (animation) works fine.
Please help me.

[2022-10-31 11:36] michalochman commented on #299
Hi @SelfDevTV, I cannot reproduce what you are saying, the log is shown file as you can see here https://codesandbox.io/s/react-pixi-fiber-issue-299-vd6qrn

Perhaps you have regular console logs filtered out in your development tools.

[2022-10-31 11:36] #299 closed

[2022-11-10 09:46] tuoxiansp opened #302 "Upgrade reconciler"
https://github.com/pmndrs/zustand/issues/1026#issuecomment-1310007962

Seems like we can't make react@18 + react-dom@18 + zustand (or other state manager with `useSyncExternalStore`, not tested for this)+ react-pixi-fiber work together.

I was keeping having this error: `TypeError: dispatcher.useSyncExternalStore is not a function`  util upgraded the reconciler for temp fix.

The fix just works fo